@import '../common/variable';
@import '../common/mixins';

.accordion {
  padding: 20px 0 32px;

  h4 {
    margin: 0;
    padding: 0;
    border: 0;
  }

  @media (max-width: 991px) {
    padding: 0;
  }

  .accordion-item {
    cursor: pointer;

    &:not(:first-child) {
      margin-top: 32px;

      @media (max-width: 991px) {
        margin-top: 24px;
      }
    }

    &__title {
      color: var(--color-white);
      margin: 0;
      flex-grow: 1;
    }
    &__title--h5 {
      @include text-h5;
    }
    .accordion-item__content {
      overflow: hidden;
      transition: all 0.3s ease-out;
      padding: 0;
      padding-left: 10px;

      > :first-child {
        padding-top: 40px;
      }

      p {
        color: var(--color-grey-300);
      }
    }

    &:last-child {
      .accordion-item__divider {
        border-bottom: none;
        display: none;
      }
    }
  }

  .accordion-item__header {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 991px) {
      padding-top: 24px;
    }
  }

  .accordion-item__icon {
    background: white;
    border: none;
    border-radius: 50%;
    padding: 6px;
    width: 27px;
    height: 27px;
    min-width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;

    @media (max-width: 991px) {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }

    svg {
      color: var(--color-black);
      display: block;
      height: 100%;
      .icon-arrow {
        fill: var(--color-black);
      }
    }
  }

  .accordion-item__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    margin-top: 12px;
    margin-left: 50px;

    @media (max-width: 1199px) {
      gap: 12px;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      @include item-marked;

      @media (max-width: 1199px) {
        gap: 12px;
      }
    }
  }

  .icon-minus {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .icon-plus {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .accordion-item.is-open {
    .icon-plus {
      display: none;
      opacity: 0;
    }
    .icon-minus {
      display: block;
      opacity: 1;
    }
  }

  .accordion-item__divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 32px;

    @media (max-width: 991px) {
      padding-top: 24px;
    }
  }

  .accordion-item__desc {
    @media (max-width: 991px) {
      margin-top: 0;
    }
  }

  .gradient-link {
    margin-top: 36px;

    @media (max-width: 991px) {
      margin-top: 18px;
    }
  }
}

.accordion.insight-accordion {
  .accordion-item.is-open {
    .accordion-item__header .accordion-item__icon {
      display: none;
    }

    .accordion-item__title {
      @include text-h4;
      margin: 0;
    }

    .accordion-item__divider {
      visibility: hidden;
    }
  }
}
