@import "../common/variable";
@import "../common/mixins";

.accordion-scroll {
  width: auto;
  height: 690px;
  margin: 0 auto;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;

  @media (max-width: 991px) {
    width: 100%;
    height: auto;
  }

  .accordion-scroll::-webkit-scrollbar {
    display: none;
  }

  .item {
    display: flex;
    gap: 30px;
    border-left: 3px solid rgba(255, 255, 255, 0.19);
    padding-left: 52px;
    margin-left: 80px;
    position: relative;
    transition: border-color 0.3s ease;

    @media (max-width: 991px) {
      border-left: none;
      padding-left: 0;
      padding-top: 24px;
      margin-left: 0;
      border-top: 1px solid var(--color-grey-600);

      &:first-child {
        border-top: none;
      }
    }
  }

  .item.is-open {
    border-left: 3px solid white;
    @media (max-width: 991px) {
      border-left: none;
    }
  }

  .arrow-container {
    position: absolute;
    left: -82px;
    top: 14px;

    @media (max-width: 991px) {
      left: auto;
      top: 24px;
      right: 0;
    }
  }

  .nav-btn {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    svg {
      width: 16px;
      height: 16px;
      margin-top: 4px;
    }

    @media (max-width: 991px) {
      width: 32px;
      height: 32px;
      padding: 8px;

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  .item.is-open .nav-btn {
    border-color: white;
    color: black;
    background: white;
  }

  .content-wrap {
    padding-bottom: 24px;
    flex: 1;

    @media (max-width: 1199px) {
      padding-bottom: 0px;
    }
  }

  .title {
    @include text-h4;
    color: white;
    text-transform: lowercase;
    cursor: pointer;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 20px;

    @media (max-width: 1199px) {
      @include text-h5;
    }

    @media (max-width: 991px) {
      @include text-h6;
      padding-top: 0px;
      padding-right: 64px;
    }
  }

  .desc-box {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    color: var(--color-gray-200);
  }

  .item.is-open .desc-box {
    max-height: 600px;
    padding-bottom: 24px;

    p {
      margin-bottom: 20px;
    }
  }

  .desc-box   ul {
    @include ul-main;

    @media (max-width: 991px) {
      gap: 12px;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 22px;
      @include item-marked;

      @media (max-width: 991px) {
        gap: 12px;
      }
    }
  }

  .btn--gradient {
    margin-top: 36px;

    @media (max-width: 991px) {
      margin-top: 18px;
    }
  }
}
