@import "../common/variable";
@import "../common/mixins";

.block-wrapper {
  padding: 0 0 140px;

  @media (max-width: 991px) {
    padding: 0 24px 48px;
  }

  &--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  &--flex {
    display: flex;
    gap: 60px;

    @media (max-width: 1199px) {
      flex-direction: column;
      gap: 32px;
    }
  }
}