@import "../common/variable";
@import "../common/mixins";


.card-external {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  min-height: 240px;
  height: 385px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  background-image:
    linear-gradient(#040404, #040404),
    $grey-gradient-50;
  background-origin: border-box;
  background-clip: padding-box, border-box;


  @media (max-width: 991px) {
    padding: 24px;
    height: max-content;
  }


  &:hover {
    border-color: transparent;
    background-image:
      linear-gradient(#040404, #040404),
      $primary-gradient;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


    .card-external__arrow {
      .arrow-icon {
        transform: translate(4px, -4px);
      }
    }
  }


  &__content {
    margin-bottom: 24px;
  }


  &__title {
    color: var(--color-white);
    margin-bottom: 16px;

    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }


  &__description {
    @include text-body-base;
    color: var(--color-grey-200);


    @media (max-width: 991px) {
      color: var(--color-grey-300);
    }
  }


  &__arrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;


    .arrow-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      transition: transform 0.3s ease;

      svg {
        width: 100%;
        height: 100%;
        color: var(--color-white);


        .icon-arrow {
          fill: currentColor;
        }
      }
    }
  }
}