@import "../common/variable";
@import "../common/mixins";

.details-content-links {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    margin-bottom: 36px;
  }

  h3:not(.accordion-item__title),
  h4:not(.accordion-item__title) {
    padding: 44px 0 36px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--color-grey-500);

    @media (max-width: 1199px) {
      padding: 36px 0 24px;
      margin-bottom: 24px;
    }
  }

  p {
    @include text-body-base;
    color: var(--color-grey-200);
    margin-bottom: 36px;

    @media (max-width: 1199px) {
      margin-bottom: 16px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    margin: 12px;

    @media (max-width: 1199px) {
      gap: 12px;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 22px;
      @include item-marked;

      @media (max-width: 1199px) {
        gap: 12px;
      }
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    margin-left: 20px;

    a {
      @include text-link;
      color: var(--color-grey-200);
      text-decoration: underline;
      word-break: break-word;
    }

    @media (max-width: 1199px) {
      gap: 12px;
    }
  }

  .accordion {
    padding: 0 0 44px;
  }

  .accordion-item__icon {
    margin-left: 20px;
  }
  .accordion-item__desc {
    margin-left: 20px;
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  .gallery-wrapper figcaption {
    display: none;
  }
}
