@import "../common/variable";
@import "../common/mixins";

.details-content {  
  display: flex;
  flex-direction: column;
  gap: 48px;
  
  @media (max-width: 991px) {
    gap: 24px;
  }

  h3:not(:first-of-type) {
    padding-top: 48px;
    border-top: 1px solid var(--color-grey-400);

    @media (max-width: 991px) {
      padding-top: 24px;
    }
  }
  
  p {
    @include text-body-base;
    color: var(--color-grey-200)
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;

    @media (max-width: 991px) {
      gap: 12px;
    }
  
    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 22px;
      @include item-marked;

      @media (max-width: 991px) {
        gap: 12px;
      }
    }
  }

  .gallery-wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px; 
  }

  .gallery-wrapper figcaption{
      display:none;
  }
}
