@import "../common/variable";
@import "../common/mixins";

.equipment-image-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;

  &__main {
    width: 100%;
    max-width: 900px;
    height: 600px;
    overflow: hidden;

    @media (max-width: 991px) {
      height: 400px;
    }

    @media (max-width: 767px) {
      height: 300px;
    }

    .js-equipment-main-slider {
      width: 100%;
      height: 100%;

      .swiper-slide {
        @include bg-overlay(0.2);
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }
  }

  &__thumbnails {
    display: flex;
    align-items: center;
    gap: 36px;
    width: 100%;

    @media (max-width: 767px) {
      gap: 16px;
      flex-direction: column;
    }
  }

  .js-equipment-thumbs-slider {
    flex: 1;
    overflow: hidden;
    height: 190px;

    @media (max-width: 991px) {
      height: 150px;
    }

    @media (max-width: 767px) {
      height: 120px;
      width: 100%;
    }

    .swiper-slide {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.3s;
      @include bg-overlay(0.2);
      height: 190px;

      @media (max-width: 991px) {
        height: 150px;
      }

      @media (max-width: 767px) {
        height: 120px;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }

      &-thumb-active {
        opacity: 1;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @media (max-width: 767px) {
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
  }
}
