@import "../common/variable";
@import "../common/mixins";

/**
 * FormFileUpload Component Styles
 *
 * Styling for drag-and-drop file upload component
 */

// -----------------------------------------------------------------------------
// FormFileUpload Component
// -----------------------------------------------------------------------------
.form-file {
  display: flex;
  flex-direction: column;
  gap: 12px;

  input[type="file"] {
    display: none;
  }

  .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    @include text-body-base;
    background: var(--color-black);
    border: 1px solid var(--color-grey-400);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    width: auto;
    border-style: dashed;
    gap: 0.5rem;

    &-info {
      display: flex;
      align-items: center;
      color: var(--color-grey-400);
      gap: 8px;

      &:last-of-type {
        margin-top: 0.5rem;
      }
    }

    &-drag {
      color: var(--color-grey-100);
      margin-right: 4px;

      @include text-h5;
    }

    &-browse {
      display: flex;
      gap: 8px;
      background: $primary-gradient;
      margin-left: 4px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include text-h5;
    }

    &-dot {
      width: 6px;
      height: 6px;
      background: var(--color-primary-violet);
      border-radius: 50%;
    }
  }

  .file-name {
    @include text-body-base;
    color: var(--color-grey-500);
    font-style: italic;
    margin: 0;
    display: none;
  }
}
