@import "../common/variable";
@import "../common/mixins";

.block-filter-form {

  .filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 48px;
    justify-content: space-between;
    flex-shrink: 0;

    .form-item {
      flex-shrink: 0;
      flex-grow: 1;

      &:nth-child(1) {
        flex-basis: 100%;
        margin-bottom: 16px;

        @media (max-width: 1499px) {
          margin-bottom: 0;
        }
      }

      &:nth-child(2){
        flex-basis: calc(22% - 16px);

        @media (max-width: 1499px) {
          flex-basis: calc(30% - 16px);
        }
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        flex-basis: calc(14% - 16px);

        @media (max-width: 1499px) {
          flex-basis: calc(30% - 16px);
        }
      }

      &:nth-child(6) {
        flex-basis: calc(24% - 16px);
        padding-left: 16px;
        border-left: 1px solid var(--color-grey);

        @media (max-width: 1499px) {
          flex-basis: calc(50% - 16px);
        }

        @media (max-width: 767px) {
          flex-basis: 100%;
          padding-left: 0;
          border-left: none;
        }
      }
    }

    .optional {
      flex-grow: 1;
    }

    .filter-search {
      width: 100%;
      height: 54px;
      padding: 12px 20px;
      @include text-body-base;
      background: none;
      outline: none;
      @include input-border;
    }

    .select-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      user-select: none;
      padding: 0px 16px 0px 20px;
      min-width: 150px;
      height: 54px;
      background: none;
      outline: none;
      @include input-border;
      color: white;
    }

    .choices {
      flex-grow: 1;
      margin-bottom: 0;
      background-color: var(--color-black);

      .choices__placeholder {
        color: white;
        opacity: 1;
      }

      @media (max-width: 767px) {
        width: 100%;
      }

      .choices__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
        padding: 0px 16px 0px 20px;
        min-width: 150px;
        height: 54px;
        background: none;
        outline: none;
        @include input-border;
        color: white;
        border-radius: 0px;
        height: 54px;
      }

      input::placeholder {
        @include text-body-base;
      }

      .choices__item.choices__placeholder.choices__item--selectable {
        @include text-body-base;
      }

      .choices__list.choices__list--single {
        padding-right: 32px;
      }
      .choices__list--multiple {
        height: 32px;
        margin-bottom: 5px;
      }

      .choices__list--multiple .choices__item {
          background-color: var(--color-grey-600);
          color: white;
          border: none;
          border-radius: 1px;
          margin: 3px 3px;
      }

      .choices__list--dropdown {
          border-top: none;
          z-index: 10;
          position: absolute;
          margin-top: 4px;
          top: 100%;
          left: 0;
          right: 0;
          overflow-y: auto;
          z-index: 100;
          box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12);
          background: var(--color-grey-800);
          padding: 0px 1px;
          min-width: 200px;
          max-height: 330px;
          border: none;
      }

      .choices__list--dropdown .choices__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        border: 1px solid var(--color-grey-700);
        padding: 11px 16px;
        min-height: 56px;
        background: var(--color-grey-900);
        color: white;
      }

      .choices__list--dropdown .choices__item.choices__item--selectable.is-highlighted {
          background-color: var(--color-grey);
      }

      .choices__list--dropdown .choices__item.is-selected {
          background-color: var(--color-grey-800);
      }

      .choices__input {
          color: #fff;
          background-color: var(--color-black);
      }

    }

    .choices[data-type*=select-one] .choices__button {
      background-color: var(--color-grey-200);
      margin-right: 32px;
    }

    .choices[data-type*=select-one]::after {
      display: none;
    }
    .choices[data-type*=select-one]::before {
      content: "\2335"; /* Unicode character for down arrow  &#9013;*/
      height: 0;
      width: 0;
      border: none;
      color: var(--color-grey-500);
      font-size: 18px;
      position: absolute;
      right: 24px;
      top: 8px;
      pointer-events: none;
    }

    .choices__list--dropdown .choices__item[data-value=""] {
      display: none !important;
    }

  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
    border: 1px solid var(--color-grey-500);
  }


  .publications {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 56px;
    margin-top: 20px;

    @media (max-width: 767px) {
      grid-template-columns: minmax(330px, 1fr);
      gap: 20px;
    }
  }

  .posts__actions {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 32px;

    .btn {
      background-color: transparent;
      border: 1px solid var(--color-grey-600);
      color: white;

      &:hover {
        background-color: var(--color-grey-600);
      }
    }

    @media (max-width: 767px) {
      display: flex;
    }
  }
}


  .filter__action {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    @media (max-width: 767px) {
      display: flex;
    }

    .btn {
      margin: auto;
      width: 250px;
      display: flex;
      gap: 12px;
      justify-content: center;
      align-items: center;
    }

    .filter-button--close {
      display: none;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 12px;

    .optional {
      display: none;
      width: 100%;
    }

    &.is-open .optional {
      display: block;
    }


    &.is-open .filter__action .filter-button--open {
      display: none;
    }

    &.is-open .filter__action .filter-button--close {
        display: flex;
    }
  }

  .heading {
    margin-bottom: 80px;
  }
}
