@import "../common/variable";
@import "../common/mixins";

.image-card {
  align-items: flex-start;
  display: flex;
  height: fit-content;
  position: relative;

  @media (max-width: 991px) {
    display: none;
  }

  &-container {
    @include bg-overlay(0.1);
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 56px;
    margin-bottom: 56px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: calc(100% - 56px);
    width: calc(100% - 56px);
    @include bg-image;
    overflow: hidden;
    z-index: -1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}