@import "../common/variable";
@import "../common/mixins";

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 366px;
  overflow: hidden;

  .info-card__image {
    width: 100%;
    height: 366px;
    object-fit: cover;
    object-position: top;
  }

  .info-card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &-top {
      height: 100%;
      min-height: 0;
      @include bg-overlay();
    }

    &-bottom {
      position: relative;
      height: auto;
      padding: 56px;
      text-align: left;
      gap: 1.5em;
      display: flex;
      flex-direction: column;
      @include bg-image;
      min-height: fit-content;
      overflow: hidden;
    }
  }

  .text-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  &:hover .text-content {
    max-height: 500px;
    opacity: 1;
  }

  .btn {
    margin-top: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
