@import "../common/variable";
@import "../common/mixins";

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  .info-card__image {
    width: 100%;
    height: auto;
  }

  .info-card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &-top {
      height: 100%;
      min-height: 0;
      @include bg-overlay(0.1);
    }

    &-bottom {
      height: 100%;
      padding: 56px;
      text-align: left;
      gap: 1.5em;
      display: flex;
      flex-direction: column;
      @include bg-image;
    }
  }

  .btn {
    margin-top: 1.5rem;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}