@import "../common/variable";
@import "../common/mixins";

.info-slider-container {
  position: relative;
  width: 100%;

  max-width: 420px;
  margin-left: auto;
}

.info-card-wrapper {
  position: relative;
  min-height: 650px;

  .info-card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: 1;

      &.active {
          opacity: 1;
          z-index: 2;
      }

      .info-card__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.7);
      }

      .info-card__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

          &-top {
            height: 100%;
            min-height: 0;
            @include bg-overlay();
          }

          &-bottom {
            height: 100%;
            padding: 56px;
            text-align: left;
            @include bg-image;
          }

          .title {
            font-weight: 300;
            font-size: 25px;
            font-family: $font-light;
            line-height: 144%;
            margin-bottom: 32px;
            text-align: left;

            strong { font-weight: $w-semibold; font-family: $font-semibold; }
          }

          .text-content {
            text-align: left;
          }

          .btn {
            margin-top: 48px;
          }
      }
  }
}

.slider-controls {
  padding: 0 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .progress-bar {
      width: 100%;
      height: 2px;
      background: var(--color-grey-400);
      position: relative;

      .progress-fill {
          height: 100%;
          background: $primary-gradient;
          width: 33.33%; /* change dynamically with js */
          opacity: 1;
          transition: width 0.3s ease;
      }
  }

  .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .dot {
          width: 12px;
          height: 12px;
          background: white;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.3s ease;

          &.active {
              background: white;
              width: 22px;
              height: 22px;
          }
      }
  }
}