@import "../common/variable";
@import "../common/mixins";

.info-slider-container {
  position: relative;
  width: 100%;
}

.info-card-wrapper {
  position: relative;
  height: 690px;

  .info-card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: 1;

      &.active {
          opacity: 1;
          z-index: 2;
      }

      .info-card__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.7);
          position: relative;
          
          &::after {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;
            background:
              linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
              url("../../assets/img/noise-without-overlay.png") repeat;
            background-size: cover;
          }
      }

      .info-card__content {
        position: absolute;
        bottom: 0;
        width: 100%;
          padding: 56px;
          @include bg-image;
          display: flex;
          flex-direction: column;
          gap: 32px;

          .title {
            font-weight: 300;
            font-size: 25px;
            font-family: $font-light;
            line-height: 144%;
            margin-bottom: 32px;
            text-align: left;

            strong { font-weight: $w-semibold; font-family: $font-semibold; }
          }

          .text-content {
            text-align: left;
          }

          .btn {
            margin-top: 48px;
            align-self: flex-start;
          }
      }
  }
}

.slider-controls {
  padding: 0 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .progress-bar {
      width: 100%;
      height: 2px;
      background: var(--color-grey-400);
      position: relative;

      .progress-fill {
          height: 100%;
          background: $primary-gradient;
          width: 0%;
          opacity: 1;
          transition: none;
      }
  }

  .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .dot {
          width: 12px;
          height: 12px;
          background: white;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.3s ease;

          &.active {
              background: white;
              width: 22px;
              height: 22px;
          }
      }
  }
}