@import "../common/variable";
@import "../common/mixins";

/**
 * FormInput Component Styles
 *
 * Styling for text input fields including:
 * - text, email, phone, number, url, tel input types
 */

// -----------------------------------------------------------------------------
// FormInput Component (Text, Email, Phone, Number, URL, Tel)
// -----------------------------------------------------------------------------
.form-input {
  input {
    width: 100%;
    height: 54px;
    padding: 12px 20px;
    @include text-body-base;
    background: var(--color-black);
    outline: none;
    @include input-border;
    color: var(--color-white);
    transition: all 0.3s ease;

    &::placeholder {
      color: var(--color-grey-500);
    }

    &:focus {
      border-color: var(--color-grey-400);
    }
  }
}
