@import "../common/variable";
@import "../common/mixins";

.link-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
  padding: 24px 0 40px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .link-card {
    width: 100%;
    height: 210px;

    @include bg-image;

    .card__content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;

      .js-ellipsis-title,
      .js-ellipsis-text {
        -webkit-line-clamp: 4;
        @include overflow-dots
      }

      .card__title {
        @include text-body-base;
        color: white;
        text-transform: lowercase;
      }

      & .arrow-icon {
        width: 24px;
        height: 24px;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
        svg {
            .icon-arrow {
              fill: white;
              transition: fill 0.3s ease;
            }
        }
      }
    }

    &:hover {
      .card__content {
        .arrow-icon {
          transform: translate(3px, 3px);
        }
      }
    }
  }

  .link-card.double {
    grid-column: span 2;
  }

}