@import "../common/variable";
@import "../common/mixins";

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  margin: 0 auto;
  backdrop-filter: blur(16px);

  /* subheader */

  .header-subheader {
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.6);
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
    opacity: 1;

    &.breadcrumbs--hidden {
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }

    .subheader-wrapper,
    .subheader-breadcrumbs {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;

      height: 100%;

      color: var(--color-grey-400);
      max-width: var(--wp--style--global--content-size-large);
      margin-left: auto !important;
      margin-right: auto !important;

      @media (max-width: 1599px) {
        max-width: var(--wp--style--global--content-size-medium);
      }
      @media (max-width: 1199px) {
        max-width: var(--wp--style--global--content-size-small);
        padding: 0 24px;
      }
    }

    .subheader-item {
      color: var(--color-grey-400);
      @include text-body-small;

      &--current {
        color: var(--color-grey-100);
      }
    }

    .subheader-separator {
      color: rgba(255, 255, 255, 0.4);
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    .header-subheader {
      display: none;
    }
  }

  .logo--secondary {
    display: none;
  }

  .header-wrapper {
    width: 100vw;
    height: 100%;
    @include bg-image;
    position: relative;
    background-image: url(../../assets/img/bg-header.png);

    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      height: 115px;
      display: flex;
      align-items: center;
      transition: all 0.3 ease;

      max-width: var(--wp--style--global--content-size-large);
      margin-left: auto !important;
      margin-right: auto !important;

      @media (max-width: 1599px) {
        max-width: var(--wp--style--global--content-size-medium);
      }
      @media (max-width: 1199px) {
        max-width: var(--wp--style--global--content-size-small);
        padding: 0 24px;
      }
    }

    .logo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 991px) {
        position: relative;
        margin-left: 0;
      }

      .logo--main {
        width: 250px;

        @media (max-width: 991px) {
          width: 150px;
        }
      }

      .logo--secondary {
        width: 300px;

        @media (max-width: 991px) {
          width: 200px;
        }
      }
    }

    .btn--gradient {
      text-wrap: nowrap;
    }

    .content-wrapper {
      display: flex;
      align-items: center;
      gap: 32px;
      z-index: 1;
    }

    .language-select {
      width: 150px;
    }

    .menu-toggle,
    .menu-close-toggle {
      background: none;
      border: none;
      cursor: pointer;
      transition: all 0.3 ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      width: 32px;
      height: 32px;
      padding: 6px;

      svg {
        color: white;
      }

      .icon-bar {
        display: block;
        background-color: white;
        width: 100%;
        height: 1px;
      }
    }

    .menu-toggle.open {
      transform: rotate(90deg);
      @media (max-width: 991px) {
        padding: 2px;

        .icon-bar {
          transition: all 0.3 ease;
        }

        .icon-bar:first-of-type {
          transform: rotate(45deg) translate(8px, 11px);
        }
        .icon-bar:nth-of-type(2) {
          display: none;
        }
        .icon-bar:last-of-type {
          transform: rotate(135deg) translate(-8px, 11px);
        }
      }
    }

    .menu-close-toggle {
      display: none;
    }

    .menu-toggle--open {
      transform: rotate(90deg);
    }

    .language-select select {
      background-color: transparent;
      color: white;
      border: none;
      padding: 5px 10px;
      @include text-body-base;
      cursor: pointer;
    }

    .header__actions {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .main-menu {
      position: absolute;
      top: 115px;
      left: 0;
      width: 100%;
      height: calc(100vh - 115px);
      background-color: rgba(04, 04, 04, 0.6);
      color: white;
      z-index: 999;
      display: none;

      &.menu-active {
        display: block;
      }
    }

    .main-menu__close-btn {
      display: none;
    }

    .main-menu__content {
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      position: relative;
      gap: 0;
      width: 100%;
      height: 100%;
    }

    .main-menu__col {
      padding: 50px 0 90px;
      height: 100%;
      width: 100%;
      min-width: 200px;
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
      display: none;
      transition: all 0.3s ease;
      overflow-y: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &.active-level {
        display: block;
        justify-content: flex-start;
      }
      &.main-menu__col--level-0.active-level {
        justify-content: space-between;
      }

      .nav-item {
        padding: 12px 24px;

        a {
          @include text-body-base;
        }
      }

      .nav-item.top-margin {
        margin-top: 40px;

        @media (max-width: 991px) {
          margin-top: 22px;
        }
      }

      @media (min-width: 992px) {
        border-right: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    .main-menu__col.active-level {
      background-color: rgba(04, 04, 04, 0.8);
    }
    .main-menu__col.active-level:first-of-type {
      .nav-item {
        padding-left: 90px;
      }
    }
    .main-menu__col.active-level:last-of-type {
      .nav-item {
        padding-right: 90px;
      }
    }

    .navbar-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .nav-item {
      display: grid;
      grid-template-columns: 1fr 30px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;

      .nav-link {
        transition: all 0.3s ease;
        color: var(--color-grey-200);

        &:hover {
          color: white;
        }
      }

      &.active {
        background: $primary-gradient-5;
        border-left: 1px solid transparent;
        border-image: $primary-gradient;
        border-image-slice: 1;

        .nav-link {
          background: $primary-gradient;
          background-clip: text;
          color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &:hover {
            color: transparent;
            opacity: 0.75;
          }
        }

        .submenu-button {
          transform: rotate(90deg);

          &:hover {
            color: transparent;
            opacity: 0.75;
          }
        }

        .icon-arrow {
          fill: url(#svg-gradient-primary);
          transition: fill 0.3s ease;
        }
      }

      a {
        text-decoration: none;

        &:hover {
          color: $primary-gradient;
        }
      }

      .submenu-button {
        width: 26px;
        height: 26px;
        padding: 6px;
        background: none;
        border: none;
        transition: all 0.3s ease;
        color: var(--color-grey-200);
        cursor: pointer;

        &:hover {
          color: white;
        }
      }

      &:not(.has-submenu) .submenu-button {
        display: none;
      }
    }

    .main-menu__col {
      min-width: 250px;
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;

      display: none;
      transition: all 0.3s ease;

      &.active-level {
        display: flex;
        flex-direction: column;
      }
    }

    .main-menu__col--level-0.active-level {
      @media (max-width: 991px) {
        padding-top: 16px;
      }
    }

    .submenu-header,
    .main-menu__search.mobile {
      display: none;
    }

    .main-menu__bottom--mobile {
      display: none;
    }

    @media (max-width: 991px) {
      .container {
        margin: 0;
        padding: 0;
        background-color: rgba(44, 44, 44, 0.3);
        border-bottom: 1px solid rgba(44, 44, 44, 1);
      }
      .header-top {
        height: 80px;
        flex-direction: row-reverse;
        padding: 0 24px;
      }

      .header__actions--desktop {
        display: none;
      }

      .main-menu {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 80px);
        padding: 0;
        overflow: hidden;
      }

      .main-menu__close-btn {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 10;
        .menu-close-toggle {
          background: none;
          border: none;
          color: blue;
          cursor: pointer;
        }
      }

      .main-menu__col {
        min-width: 100%;
        flex-basis: 100%;
        overflow-y: auto;
        height: 100%;
        padding: 0;
        padding: 0;

        &.active-level:first-of-type {
          .nav-item {
            padding-left: 24px;
          }
        }
        &.active-level:last-of-type {
          .nav-item {
            padding-right: 24px;
          }
        }
      }

      .submenu-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 24px;
        background: rgba(44, 44, 44, 0.3);
        border: none;
        cursor: pointer;
        position: sticky;
        top: 0px;
        z-index: 1;
        backdrop-filter: blur(60px);
        background: $primary-gradient-5;

        .submenu-title {
          width: auto;
          margin: 0;
          @include text-h6;
          background: $primary-gradient;
          background-clip: text;
          color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &:hover {
          color: transparent;
          opacity: 0.75;
        }
      }

      .main-menu__content[data-current-level="0"] {
        transform: translateX(0%);
      }
      .main-menu__content[data-current-level="1"] {
        transform: translateX(-100%);
      }
      .main-menu__content[data-current-level="2"] {
        transform: translateX(-200%);
      }
      .main-menu__content[data-current-level="3"] {
        transform: translateX(-300%);
      }

      .submenu-header,
      .main-menu__search.mobile {
        display: flex;
      }

      .main-menu__bottom--mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 24px 32px;
        gap: 16px;
        background-color: rgba(44, 44, 44, 0.3);
        border-top: 1px solid rgba(44, 44, 44, 1);
      }
    }
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    @media (max-width: 991px) {
      pointer-events: auto;
      opacity: 1;
      width: 100%;
      max-width: 400px;
      border: 2px solid rgba(44, 44, 44, 0.8);
    }

    &.is-active {
      pointer-events: auto;
      opacity: 1;
      width: 100%;
      max-width: 300px;
    }
  }

  .search-toggle {
    position: absolute;
    right: 0px;
    margin: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    color: var(--color-grey-400);
    width: 48px;
    height: 48px;

    &:hover {
      color: white;
    }

    @media (max-width: 991px) {
      background: none;
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    max-width: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: max-width 0.3s ease-out, opacity 0.3s ease-out 0.3s / 2;
    height: 48px;

    @media (max-width: 991px) {
      pointer-events: auto;
      opacity: 1;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .search-container.is-active {
    border: 2px solid rgba(44, 44, 44, 0.8);

    .search-form {
      pointer-events: auto;
      opacity: 1;
      max-width: 300px;

      @media (max-width: 991px) {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  .search-input {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    outline: none;
    width: 100%;
    min-width: 100px;
    @include text-body-base;
    padding-right: 48px;

    &::placeholder {
      color: rgba(white, 0.5);
    }

    @media (max-width: 991px) {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
}

.header.header--scrolled {
  .header-top {
    height: 88px;

    @media (max-width: 991px) {
      height: 80px;
    }
  }

  .main-menu {
    top: 88px;
    height: calc(100vh - 88px);

    @media (max-width: 991px) {
      height: calc(100vh - 80px);

      top: 80px;
    }
  }

  .logo--main {
    display: none;
  }
  .logo--secondary {
    display: block;
  }

  @media (max-width: 991px) {
    .logo--main {
      display: block;
    }
    .logo--secondary {
      display: none;
    }
  }
}

.language-select {
  .choices {
    flex-grow: 1;
    margin-bottom: 0;

    @media (max-width: 767px) {
      width: 100%;
    }

    .choices__inner {
      height: 44px;
      padding: 8px 16px;
      background: transparent;
      border: none;
      outline: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
    }

    input::placeholder {
      color: var(--color-grey-500);
      @include text-body-base;
    }

    .choices__item.choices__placeholder.choices__item--selectable {
      color: var(--color-grey-500);
      @include text-body-base;
    }

    .choices__list.choices__list--single {
      padding-right: 32px;
      .choices__item.choices__placeholder.choices__item--selectable {
        color: var(--color-grey-500);
        @include text-body-base;
      }
    }

    .choices__list--dropdown {
      z-index: 10;
      border: none;
      background: var(--color-black);
      border-radius: 4px;
    }

    .choices__list--dropdown .choices__item {
      color: #fff;
      border-bottom: 1px solid var(--color-grey-800);
      padding: 12px 16px;
      height: 48px;
      backdrop-filter: blur(65px);
      background-color: var(--color-grey);
      border-bottom: 1px solid var(--color-grey-800);
    }

    .choices__list--dropdown
      .choices__item.choices__item--selectable.is-highlighted {
      background-color: var(--color-grey-600);
    }

    .choices__list--dropdown .choices__item.is-selected {
      border-bottom: 1px solid var(--color-grey-800);
      border-radius: 4px 4px 0 0;
      padding: 12px 16px;
      height: 48px;
      backdrop-filter: blur(65px);
      background-color: var(--color-grey-800);
    }

    .choices__input {
      color: #fff;
      background-color: var(--color-black);
    }
    .choices__placeholder {
      opacity: 0.7;
    }
  }

  .choices[data-type*="select-one"] .choices__button {
    background-color: var(--color-grey-200);
  }

  .choices[data-type*="select-one"]::after {
    content: none;
  }
  .choices[data-type*="select-one"]::before {
    content: "";
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url(../../assets/img/arrowSelect-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
  }
  .choices.is-open[data-type*="select-one"]::before {
    background-image: url(../../assets/img/arrowSelect.svg);
  }
}
