@import "../common/variable";
@import "../common/mixins";

.performance-grid {
    position: relative;
    width: 100%;

    &--right {
        padding-left: 130px;

        @media (max-width: 1600px) {
            padding-left: 0;
        }
    }

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: 0;
        gap: 40px;
        padding: 12px 10px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: rgba(4,4,4,0.2);

        transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), z-index 0s;
        transform-origin: center center;

        &.is-scaled {
            transform: scale(1.1);
            z-index: 10;
            cursor: pointer;
        }
        
        &--center {
            border: none;
            background: transparent;

            &.is-scaled {
                transform: none;
                cursor: default;
            }
        }

        &--center-img {
            border: none;
            background: transparent;
            transform: scale(1.3);
            &.is-scaled {
                transform: scale(1.3);
                cursor: default;
            }
        }

        &--square {
            aspect-ratio: 1 / 1;
            padding: 20px;
        }
    }

    /* --- OVERLAY (Glow) --- */
    &__overlay {
        position: absolute;
        inset: 0; 
        pointer-events: none;
        user-select: none;
        z-index: 10;
        
        padding-left: inherit; 

        /* --- Mask (hide by default)  --- */
        opacity: var(--opacity, 0);
        
        /* ---  Mask effect  --- */
        -webkit-mask: radial-gradient(
            20rem 20rem at var(--x) var(--y),
            #000 1%,
            transparent 50%
        );
        mask: radial-gradient(
            20rem 20rem at var(--x) var(--y),
            #000 1%,
            transparent 50%
        );
        
        transition: 400ms opacity ease;
        will-change: mask;

        /* --- Active item styles  --- */
        .performance-grid__item {
            border: 1px solid transparent;
            
            background-image: 
                linear-gradient(
                    145deg,
                    rgba(4, 4, 4, 0.95) 0%,
                    rgba(75, 224, 195, 0.01) 95%,
                    transparent 100% 
                ),
                $primary-gradient;
            
            background-origin: border-box;
            background-clip: padding-box, border-box;

            /* --- Avoid center item  --- */
            &--center {
                background: transparent;
                box-shadow: none;
                border: none;

                &.is-scaled {
                    transform: none;
                    cursor: default;
                }
            }

            &--center-img {
                border: none;
                background: transparent;
                transform: scale(1.3);
                &.is-scaled {
                    transform: scale(1.3);
                    cursor: default;
                }
            }
        }
    }

        
    &__bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    &__icon {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        transition: transform 0.3s ease;

        @media (max-width: 1600px) {
            width: 44px;
            height: 44px;
        }
        

        img, svg {
            width: auto;
            height: auto;
            display: block;
        }
    }

    &__label {
        font-size: 14px;
        font-weight: 500;
        text-transform: lowercase;
        @include font-poppins;
    }

    .text-gradient {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 600;
        @include text-body-large;
    
        background: $primary-gradient;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
    }
}
