@import "../common/variable";
@import "../common/mixins";
 
.person-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 42px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 36px;

  @media (max-width: 991px) {
    gap: 16px;
    padding: 24px;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    gap: 16px;
    padding: 24px;
    width: 100%;
  }

  .person-card__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 42px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    @media (max-width: 991px) {
      gap: 16px;
    }

    @media (max-width: 767px) {
      gap: 16px;
    }
  }
  
  &__image-container {
      width: 125px; 
      height: 125px;
      min-width: 125px;
      border-radius: 50%;
      overflow: hidden;
      
      .person-card__image {
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%);
          transition: filter 0.5s ease;
      }

      @media (max-width: 1199px) {
        width: 80px; 
        height: 80px;    
        min-width: 80px;    
      }
  }

  .person-card__info {
      text-align: left;

      .card__name {
          font-size: 20px;
          font-weight: $w-semibold;
          border: none;
          padding: 0;
          margin: 0;

          @media (max-width: 991px) {
              @include text-h7;
          }

      }
      .card__credentials {
          @include text-body-small;
          margin-bottom: 16px;

          @media (max-width: 991px) {
              margin-bottom: 12px;
          }
      }
      .card__title {
          @include text-body-small;
          font-size: 16px;
      }

      .person-card__description {
          @include text-h5;
          padding-bottom: 16px;
      }

      .arrow-icon {
        width: 32px;
        height: 32px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
      }

  }

  &:hover {
    .person-card__image {
      filter: none;
    }

    .arrow-icon {
      transform: translate(3px, -3px);
    }
  }
}