@import "../common/variable";
@import "../common/mixins";

.pillar-card {
  height: 580px;
  width: 100%;

  @media (max-width: 1199px) {
    height: 320px;
  }

    .pillar-card__content {
      height: 100%;
      width: 100%;
      background: var(--color-grey-900);
      border: 1px solid var(--color-grey-600);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 42px;

      @media (max-width: 991px) {
        padding: 24px;
      }

    .pillar-card__caption {
      color: white;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-grey-600);
      margin-bottom: 40px;
    }

    .pillar-card__title {
      @include text-h1;
      margin-bottom: 20px;

      @media (max-width: 991px) {
        @include text-h2;
      }
    }

    .pillar-card__desc {
      @include text-h4;

      @media (max-width: 991px) {
        @include text-h6;
      }
    }

    .pillar-card__action {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 32px;
      
      .pillar-card__card__action-text {
        visibility: hidden;
        width: 0;
        @include gradient-text;
        transition: all 0.3s ease;

        font-family: $font-light;
        font-weight: $w-light;
        font-size: 21px;
        line-height: 133%;
        text-transform: lowercase;
      }

      .arrow-icon {
        width: 32px;
        height: 32px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        svg {
            .icon-arrow {
              fill: white;
              transition: fill 0.3s ease;
            }
        }

        @media (max-width: 991px) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &:hover {
    .pillar-card__content {
      @include bg-image;

      .pillar-card__action {
        .pillar-card__card__action-text {
          visibility: visible;
          margin-right: 24px;
          width: auto;

          @media (max-width: 991px) {
            margin-right: 8px;
          }
        }

        .arrow-icon {
          svg {
              .icon-arrow {
                fill: url(#svg-gradient-primary);
              }
          }
        }
      }
    }
  }
}