@import "../common/variable";
@import "../common/mixins";

.post-card {
  overflow: hidden;
  position: relative;
  height: 600px;
  transition: all 0.3s ease;
  
  .post-card__image-wrapper {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
  
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  
  .post-card__content {
    padding: 42px 42px 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(13, 13, 13, 0.4);
    backdrop-filter: blur(5px);
    height: 200px;
    transition: all 0.3s ease;
  
    .post-card__description {
      @include text-body-small;
      -webkit-line-clamp: 5;
      @include overflow-dots;
      margin-top: 12px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
  
  .post-card__link {
    display: block;
    text-decoration: none;
    color: #fff;
    height: 100%; 
  }
  
  .post-card__title {
    @include text-h5;
    -webkit-line-clamp: 2;
    min-height: 60px;
    @include overflow-dots;
  }

  .post-card__arrow {
    position: absolute;
    bottom: 42px;
    left: 42px;
    display: flex;
    align-items: center;

    .arrow-text {
      @include gradient-text;
      visibility: hidden;
      width: 0;
    }

    .arrow-icon {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      svg {
          .icon-arrow {
            fill: white;
            transition: fill 0.3s ease;
          }
      }
    }
  }


  &:hover {
    .post-card__image-wrapper {
      filter: grayscale(0%);
    }

    .post-card__content {
      height: fit-content;
      background-color: transparent;
      background: right 0% bottom 0% url(../../assets/img/card-bg.svg) no-repeat;
      background-size: cover;

      .post-card__title {
        -webkit-line-clamp: 3;
      }
  
      .post-card__description {
        visibility: visible;
        opacity: 1;
      }

      &::after {
        bottom: 0;
        left: 0;
        width: 40%;
        height: 2px;
        position: absolute;
        content: "";
        background: $primary-gradient;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .post-card__arrow {
      .arrow-text {
        visibility: visible;
        margin-right: 14px;
        width: auto;
      }

      .arrow-icon {
        svg {
            .icon-arrow {
              fill: url(#svg-gradient-primary);
            }
        }
      }
    }
  }

  .post-card__tags {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: row-reverse;
  }

  .post-card__tag {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(16px);
    color: #ffffff;
    border-radius: 32px;
    padding: 8px 16px;
    text-transform: lowercase;
    pointer-events: none; 

    position: relative;
    margin-right: -40px;

    p {
      @include text-body-base;
      background: $primary-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  .post-card__tag:first-child {
    margin-right: 0;
  }

  .post-card__tags {
      flex-wrap: wrap;
      justify-content: flex-end;
  }


  @media (max-width: 767px) {
    height: 270px;

    .post-card__content {
      height: 135px;
      padding: 24px 24px 50px;

      .post-card__title {
        padding-right: 40px;
        @include text-h4;
      }
  
      .post-card__description {
        -webkit-line-clamp: 6;
        @include text-body-base;
      }
    }

    .post-card__arrow {
      bottom: 76px;
      right: 24px;
      left: auto;
    }

    &:hover {
      height: 450px;
  
      .post-card__content {
        height: fit-content;
        background-color: rgba(04, 04, 04, 0.5);
        background: right 0% bottom 0% url(../../assets/img/card-bg.svg) no-repeat;
  
        .post-card__title {
          padding-right: 0;
        }
      }
  
      .post-card__arrow {
        bottom: 24px;
        left: 24px;
        right: auto;

        .arrow-icon {
          width: 12px;
          height: 12px;
        }
      }
    }

  }
}

/* POST CARD SIMPLE STYLE */

.post-card--simple {
  overflow: hidden;
  position: relative;
  height: 470px;
  transition: all 0.3s ease;
  
  .post-card__image-wrapper {
    width: 100%;
    height: 100%;
  
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  
  .post-card__content {
    padding: 32px 32px 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(16px);
    background: rgba(13, 13, 13, 0.9);
    height: 200px;
    transition: all 0.3s ease;
  }
  
  .post-card__link {
    display: block;
    text-decoration: none;
    color: #fff;
    height: 100%; 
  }
  
  .post-card__title {
    @include text-h5;
    -webkit-line-clamp: 2;
    min-height: 60px;
    @include overflow-dots;
  }

  .post-card__arrow--right {
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 64px;
    transition: all 0.3s ease;

    .arrow-icon {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    .post-card__arrow--right {
      right: 26px;
    }
  }

  @media (max-width: 767px) {
    height: 270px;

    .post-card__content {
      height: 135px;
      padding: 24px 24px 50px;

      .post-card__title {
        padding-right: 40px;
        @include text-h4;
      }
    }
  }
}

/* POST CARD ACTION STYLE */


.post-card--action {
  overflow: hidden;
  position: relative;
  height: 470px;
  transition: all 0.3s ease;
  @include bg-image;

  @media (max-width: 991px) {
    height: fit-content;
  }
  
  .post-card__link {
    display: block;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    height: 100%; 
    padding: 32px;

      
  .post-card__content {
    padding: 32px 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    gap: 32px;
  }

    &:hover {
      .post-card__desc {
        display: block;
      }
    }

    .post-card__desc {
      display: none;
      @include text-body-small;
      color: var(--color-gray-200);

      @media (max-width: 991px) {
        display: block;
      }
    }
  }
  
  .post-card__title {
    @include text-h5;
  }

  .post-card__action {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 32px;
    
    .post-card__card__action-text {
      visibility: hidden;
      width: 0;
      @include gradient-text;
      @include text-body-small;
      transition: all 0.3s ease;
    }

    .arrow-icon {
      width: 32px;
      height: 32px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      svg {
          .icon-arrow {
            fill: white;
            transition: fill 0.3s ease;
          }
      }

      @media (max-width: 991px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &:hover {
      .post-card__action {
        .post-card__card__action-text {
          visibility: visible;
          margin-right: 24px;
          width: auto;

          @media (max-width: 991px) {
            margin-right: 8px;
          }
        }

        .arrow-icon {
          svg {
              .icon-arrow {
                fill: url(#svg-gradient-primary);
              }
          }
        }
      }
  }

  @media (max-width: 767px) {
    height: 270px;

    .post-card__content {
      height: 135px;
      padding: 24px 24px 50px;

      .post-card__title {
        padding-right: 40px;
        @include text-h4;
      }
    }
  }
}