@import "../common/variable";
@import "../common/mixins";

.quote {
  padding: 12px 0 48px;

  .quote__wrapper {
    border-left: 1px solid var(--color-grey-200);
    padding: 10px 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    p {
      margin: 0;
    }
  }

  .quote__text {
    @include text-h5;
    color: white;
  }

  .quote__author {
    @include text-body-base;
    color: var(--color-grey-200);
  }
}
