@import "../common/variable";
@import "../common/mixins";

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
  justify-content: space-between;
  flex-shrink: 0;

  .form-item {
    flex-shrink: 0;
    flex-grow: 1;
  
    &:nth-child(1) {
      flex-basis: 100%;
      margin-bottom: 16px;

      @media (max-width: 1199px) {
        margin-bottom: 0;
      }
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex-basis: calc(16% - 16px);
    }
    &:nth-child(6) {
      flex-basis: calc(24% - 16px); 
      padding-left: 16px;
      border-left: 1px solid var(--color-grey);

      @media (max-width: 1199px) {
        padding-left: 0;
        border-left: none;
      }
    }
  }

  .optional {
    flex-grow: 1;
  }

  @media (max-width: 767px) {
    margin-bottom: 12px;

    .optional {
      display: none;
      width: 100%;
    }

    &.is-open .optional {
      display: block; 
    }

    &.is-open + .filter__action .filter-button--open {
      display: none;
    }
  
    &.is-open + .filter__action .filter-button--close {
        display: flex;
    }
  }

  .filter-search {
    height: 54px;
    padding: 12px 20px;
    @include text-body-base;
    background: none;
    outline: none;
    @include input-border;
  }

  .choices {
    flex-grow: 1;
    margin-bottom: 0;
    background-color: var(--color-black);

    .choices__placeholder {
      color: white;
      opacity: 1;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    .choices__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      user-select: none;
      border: 1px solid var(--color-grey-700);
      padding: 0px 16px 0px 20px;
      min-width: 200px;
      height: 54px;
      background: var(--color-grey-800);
      @include text-body-small;
      color: white;
    }

    input::placeholder {
      @include text-body-base;
    }

    .choices__item.choices__placeholder.choices__item--selectable {
      @include text-body-base;
    }

    .choices__list.choices__list--single {
      padding-right: 32px;
      .choices__item.choices__placeholder.choices__item--selectable {
        @include text-body-small;
      }
    }
    .choices__list--multiple {
      height: 32px;
      margin-bottom: 5px;
    }

    .choices__list--multiple .choices__item {
        background-color: var(--color-grey-600);
        color: white;
        border: none;
        border-radius: 1px;
        margin: 3px 3px;
    }

    .choices__list--dropdown {
        border-top: none;
        z-index: 10;
    }

    .choices__list--dropdown .choices__item {
        background-color: var(--color-grey-800);
        color: #fff;
        padding: 10px 12px;
        font-size: 15px;
    }

    .choices__list--dropdown .choices__item.choices__item--selectable.is-highlighted {
        background-color: var(--color-grey);
    }

    .choices__list--dropdown .choices__item.is-selected {
        background-color: var(--color-black);
    }

    .choices__input {
        color: #fff;
        background-color: var(--color-black);
    }

  }

  .choices[data-type*=select-one] .choices__button {
    background-color: var(--color-grey-200);
  }


  /* Date input */

  .form-item:nth-child(6) {
    position: relative;
    width: 100%;
  }

  .form-item input.date-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--color-grey-700);
    padding: 0px 16px 0px 20px;
    min-width: 200px;
    width: 100%;
    height: 54px;
    background: var(--color-grey-800);
    @include text-body-small;
    color: white;

      &::placeholder {
        color: white;
        opacity: 1;
    }

    &::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0; 
    }
  }

  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
    border: 1px solid var(--color-grey-500);
  }
}
