@import "../common/variable";
@import "../common/mixins";

.slider-preview {
  padding: 80px 0 36px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 56px;

  @media (max-width: 1199px) {
    max-width: 80vw;
  }

  @media (max-width: 991px) {
    max-width: 90vw;
    padding-top: 2rem;
  }

  .js-main-slider-preview {
    width: 100%;
    overflow: hidden;

    .swiper-slide {
      @include bg-overlay();
      aspect-ratio: 896 / 600;
      max-height: 600px;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  .thumbs-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
    width: 100%;
    padding-right: 36px;
  }

  .js-thumbs-slider-preview {
    flex: 1;
    overflow: hidden;

    .swiper-slide {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.3s;
      @include bg-overlay();
      aspect-ratio: 1/1;
      max-height: 188px;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        display: block;
      }

      &-thumb-active {
        opacity: 1;
      }
    }
  }

  .cards-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
