@import "../common/variable";
@import "../common/mixins";

.table-component {
  width: 100%;
  @include container;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .table-component__title {
    @include text-h3;
    color: var(--color-white, #fff);
    margin: 0;
    padding: 0;
  }

  .table-component__divider {
    width: 100%;
    height: 1px;
    background: var(--color-grey, #808080);
    margin-top: 16px;
  }

  .table-component__wrapper {
    padding-top: 56px;
    width: 100%;
    overflow-x: auto;
  }

  .table-component__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    .table__header {
      height: 82px;
      background: $primary-gradient;

      th {
        @include text-body-base;
        font-weight: $w-semibold;
        color: var(--color-black, #000);
        padding: 0 24px;
        text-align: left;
        vertical-align: middle;

        &:first-child {
          padding-left: 32px;
        }

        &:last-child {
          padding-right: 32px;
        }

        @media (max-width: 991px) {
          padding: 0 16px;

          &:first-child {
            padding-left: 20px;
          }

          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }

    .table__body {
      tr {
        background: transparent;
        border-bottom: 1px solid var(--color-grey, #808080);

        &:last-child {
          border-bottom: none;
        }

        td {
          @include text-body-base;
          color: var(--color-white, #fff);
          padding: 24px;
          text-align: left;
          vertical-align: middle;

          &:first-child {
            padding-left: 32px;
          }

          &:last-child {
            padding-right: 32px;
          }

          @media (max-width: 991px) {
            padding: 16px;

            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    .table-component__wrapper {
      padding-top: 40px;
    }
  }
}
