@import "../common/variable";
@import "../common/mixins";

.wp-block-table,
.table-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  @media (max-width: 991px) {
    margin-bottom: $mobile-block-margin;
  }

  .table-component__title {
    color: var(--color-white, #fff);
    margin: 0;
    padding: 0;
  }

  .table-component__divider {
    width: 100%;
    height: 1px;
    background: var(--color-grey, #808080);
    margin-top: 36px;
  }

  .table-component__wrapper {
    padding-top: 56px;
    width: 100%;
    overflow-x: auto;

    @media (max-width: 991px) {
      padding-top: 1.5rem;
    }
  }

  table,
  .table-component__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead,
    .table__header {
      height: 82px;
      @include bg-image;
      background-repeat: round;
      border: none;

      th {
        @include text-body-base;
        padding: 0 24px;
        text-align: left;
        vertical-align: middle;
        border: none;

        &:first-child {
          padding-left: 32px;
        }

        &:last-child {
          padding-right: 32px;
        }
      }
    }

    tbody,
    .table__body {
      tr {
        background: transparent;
        border-bottom: 1px solid var(--color-grey, #808080);
        min-height: 82px;

        td {
          @include text-body-small;
          color: var(--color-white, #fff);
          padding: 24px;
          text-align: left;
          vertical-align: middle;
          border: none;

          &:first-child {
            padding-left: 32px;
          }

          &:last-child {
            padding-right: 32px;
          }
        }
      }
    }
  }
}

.table-component__table {
  width: 100%;
  border-collapse: collapse;

  thead {
    display: table-header-group;
  }

  th,
  td {
    padding: 24px;
    text-align: left;
    vertical-align: middle;
    border: none;
  }

  tbody tr {
    border-bottom: 1px solid var(--color-grey, #808080);
  }

  @media (max-width: 991px) {
    display: block;
    width: 100%;

    thead {
      display: none;
    }

    .table__body {
      display: initial;
    }

    tbody tr {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;
      padding: 16px 0;
      border-bottom: 1px solid var(--color-grey, #808080);
      margin-bottom: 0.5rem;

      td {
        display: flex;
        justify-content: space-between;
        padding: 0 !important;

        &:before {
          content: attr(data-header);
          font-weight: bold;
          color: var(--color-grey-400);
          margin-right: 8px;
        }
      }
    }
  }
}
