@import "../common/variable";
@import "../common/mixins";

/**
 * FormTextarea Component Styles
 *
 * Styling for multi-line text input fields
 */

// -----------------------------------------------------------------------------
// FormTextarea Component
// -----------------------------------------------------------------------------
.form-textarea {
  textarea {
    width: 100%;
    min-height: 120px;
    padding: 12px 20px;
    @include text-body-base;
    background: var(--color-black);
    outline: none;
    @include input-border;
    color: var(--color-white);
    resize: none; /* Disable resize as per requirements */
    transition: all 0.3s ease;

    &::placeholder {
      color: var(--color-grey-500);
    }

    &:focus {
      border-color: var(--color-grey-400);
    }
  }
}
