@import "../common/variable";
@import "../common/mixins";

.vacancy-card {
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 400px;

  position: sticky;
  top: 130px;

  @media (max-width: 991px) {
    width: 100%;
    min-height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 56px;
    width: 100%;
    height: 100%;
    min-height: 400px;

    @include bg-image;

    @media (max-width: 991px) {
      padding: 32px 24px;
      gap: 16px;
    }
  }

  &__title {
    @include text-h3;
    text-align: left;
    text-transform: lowercase;
    margin: 0;
  }

  &__description {
    @include text-body-base;
    margin: 0;
  }

  .btn {
    margin-top: auto;

    @media (max-width: 991px) {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
