@import "../common/variable";
@import "../common/mixins";

.vacancy-card {
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 400px;
  
  @media (max-width: 991px) {
    width: 100%;
    min-height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 48px 32px;
    width: 100%;
    height: 100%;
    
    @include bg-image;

    @media (max-width: 767px) {
      padding: 32px 24px;
      gap: 16px;
    }
  }

  &__title {
    @include text-h5;
    margin: 0;

    @media (max-width: 767px) {
      @include text-h6;
    }
  }

  &__description {
    @include text-body-base;
    margin: 0;
    color: var(--color-grey, #999);
  }

  .btn {
    margin-top: auto;
    
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
