@import "common/variable";
@import "common/mixins";
@import "common/reset";
@import "common/base";
@import "common/root";
@import "common/fonts";
@import "common/main-content";
@import "components/main_menu.scss";
@import "components/footer.scss";



@media (max-width: 1600px) {
  .home-page__main {
    --wp--style--global--content-size-medium: 1560px !important;

    section:not(.block-hero) {
      margin-left: 72px !important;
      margin-right: 72px !important;

      @media (min-width: 1700px) {
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }

    h2 {
      font-size: 40px !important;
      line-height: 52px !important;
    }

    .block-cta,
    .block-insights,
    .block-accordion,
    .block-slider__wrapper {
      h2 {
        font-size: 32px !important;
        line-height: 44px !important;
      }
    }

    h3 {
      font-size: 24px !important;
      line-height: 36px !important;
    }

    p {
      font-size: 14px !important;
      line-height: 28px !important;
    }

    .block-section-heading {
      padding-bottom: 32px !important;
      margin-bottom: 72px !important;
    }

    .block-reduce-fragmentation__col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .block-reduce-fragmentation .heading {
      padding-bottom: 32px !important;
    }

    .block-reduce-fragmentation .text-content {
      margin-bottom: 0 !important;
    }

    .block-logo-slider {
      padding-left: 0 !important;
    }

    .block-cta {
      width: calc(100% - 144px);
    }
  }
}