/*!************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/components/contact_info.scss ***!
  \************************************************************************************************************************************************************************************************************************************/
/*images*/
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
  padding-right: 40px;
  position: relative; }
  @media (max-width: 991px) {
    .contact-info {
      padding-right: 0;
      gap: 24px; } }
  .contact-info__text {
    margin-bottom: 8px; }
  .contact-info__description {
    font-family: "PoppinsLight", "Roboto", "Arial", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--color-grey-200);
    margin: 0; }
    @media (max-width: 991px) {
      .contact-info__description {
        font-size: 16px;
        line-height: 24px; } }
  .contact-info__phone-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .contact-info__phone {
    font-family: "PoppinsSBold", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: var(--color-white); }
    @media (max-width: 991px) {
      .contact-info__phone {
        font-size: 20px;
        line-height: 28px; } }
  .contact-info__chip {
    border-radius: 32px;
    padding: 8px 20px;
    background-image: url(../../assets/img/overlay.svg);
    background-blend-mode: normal, overlay;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-position: center; }
  .contact-info__badge {
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(90deg, #81FEE5 0%, #818FFE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media (max-width: 991px) {
      .contact-info__badge {
        font-size: 14px;
        line-height: 22px; } }
  .contact-info__image-wrapper {
    position: relative;
    margin-top: 40px;
    width: 100%;
    max-width: 400px; }
    @media (max-width: 991px) {
      .contact-info__image-wrapper {
        display: none; } }
    .contact-info__image-wrapper::before {
      content: '';
      position: absolute;
      bottom: -20px;
      right: -20px;
      height: calc(100% - 40px);
      width: calc(100% - 40px);
      background-image: url(../../assets/img/overlay.svg);
      background-blend-mode: normal, overlay;
      background-size: cover;
      background-position: right top;
      background-repeat: no-repeat;
      overflow: hidden;
      z-index: -1; }
  .contact-info__image {
    width: 100%;
    height: auto;
    display: block;
    padding-right: 40px;
    padding-bottom: 40px; }


/*# sourceMappingURL=components-contact_info.css.map*/