/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/components/details_content_links.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
/*images*/
.details-content-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  .details-content-links h3 {
    margin-bottom: 36px;
    font-family: "PoppinsSBold", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    font-weight: 600; }
    @media (max-width: 991px) {
      .details-content-links h3 {
        font-size: 28px;
        line-height: 36px; } }
  .details-content-links h4 {
    font-family: "PoppinsSBold", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    padding: 44px 0 36px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--color-grey-500); }
    @media (max-width: 991px) {
      .details-content-links h4 {
        font-size: 24px;
        line-height: 32px; } }
    @media (max-width: 1199px) {
      .details-content-links h4 {
        padding: 36px 0 24px;
        margin-bottom: 24px; } }
  .details-content-links p {
    font-family: "PoppinsLight", "Roboto", "Arial", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-grey-200);
    margin-bottom: 36px; }
    @media (max-width: 991px) {
      .details-content-links p {
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 1199px) {
      .details-content-links p {
        margin-bottom: 16px; } }
  .details-content-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 22px;
    margin: 12px; }
    @media (max-width: 1199px) {
      .details-content-links ul {
        gap: 12px; } }
    .details-content-links ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      gap: 22px;
      position: relative;
      padding-left: 60px;
      min-height: 33px;
      color: white;
      font-family: "PoppinsLight", "Roboto", "Arial", sans-serif;
      font-weight: 300;
      -webkit-font-smoothing: subpixel-antialiased;
      font-style: normal;
      font-size: 18px;
      line-height: 28px; }
      @media (max-width: 991px) {
        .details-content-links ul li {
          font-size: 16px;
          line-height: 24px; } }
      .details-content-links ul li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 30px;
        height: 30px;
        background-image: url("../../assets/img/mark.svg");
        background-size: contain;
        background-repeat: no-repeat; }
      @media (max-width: 1199px) {
        .details-content-links ul li {
          gap: 12px; } }
  .details-content-links ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 22px;
    margin-left: 20px; }
    .details-content-links ol a {
      font-family: "Poppins", "Roboto", "Arial", sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-grey-200);
      text-decoration: underline;
      word-break: break-word; }
      @media (max-width: 991px) {
        .details-content-links ol a {
          font-size: 14px;
          line-height: 20px; } }
    @media (max-width: 1199px) {
      .details-content-links ol {
        gap: 12px; } }
  .details-content-links .accordion {
    padding: 0 0 44px; }
  .details-content-links .accordion-item__icon {
    margin-left: 20px; }
  .details-content-links .accordion-item__desc {
    margin-left: 20px; }
  .details-content-links .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px; }
  .details-content-links .gallery-wrapper figcaption {
    display: none; }


/*# sourceMappingURL=components-details_content_links.css.map*/