/*!*********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/components/accordion.scss ***!
  \*********************************************************************************************************************************************************************************************************************************/
/*images*/
.accordion {
  padding: 20px 0 32px; }
  .accordion h4 {
    margin: 0;
    padding: 0;
    border: 0; }
  @media (max-width: 991px) {
    .accordion {
      padding: 0; } }
  .accordion .accordion-item {
    cursor: pointer; }
    .accordion .accordion-item__title {
      color: var(--color-white);
      margin: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .accordion .accordion-item__title--h5 {
      font-family: "PoppinsMedium", "Roboto", "Arial", sans-serif;
      font-style: normal;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500; }
      @media (max-width: 991px) {
        .accordion .accordion-item__title--h5 {
          font-size: 18px;
          line-height: 26px; } }
    .accordion .accordion-item .accordion-item__content {
      overflow: hidden;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      padding-top: 16px; }
      .accordion .accordion-item .accordion-item__content p {
        color: var(--color-grey-300); }
    .accordion .accordion-item:last-child .accordion-item__divider {
      border-bottom: none;
      display: none; }
  .accordion .accordion-item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    padding: 32px 0 0; }
    @media (max-width: 991px) {
      .accordion .accordion-item__header {
        padding-top: 24px; } }
  .accordion .accordion-item__icon {
    background: white;
    border: none;
    border-radius: 50%;
    padding: 6px;
    width: 27px;
    height: 27px;
    min-width: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    @media (max-width: 991px) {
      .accordion .accordion-item__icon {
        width: 24px;
        height: 24px;
        min-width: 24px; } }
    .accordion .accordion-item__icon svg {
      color: var(--color-black);
      display: block;
      height: 100%; }
      .accordion .accordion-item__icon svg .icon-arrow {
        fill: var(--color-black); }
  .accordion .accordion-item__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 22px;
    margin-top: 12px;
    margin-left: 50px; }
    @media (max-width: 1199px) {
      .accordion .accordion-item__list {
        gap: 12px; } }
    .accordion .accordion-item__list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      gap: 20px;
      position: relative;
      padding-left: 60px;
      min-height: 33px;
      color: white;
      font-family: "Poppins", "Roboto", "Arial", sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-size: 16px;
      line-height: 29px; }
      @media (max-width: 991px) {
        .accordion .accordion-item__list li {
          font-size: 14px;
          line-height: 22px; } }
      .accordion .accordion-item__list li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 30px;
        height: 30px;
        background-image: url("../../assets/img/mark.svg");
        background-size: contain;
        background-repeat: no-repeat; }
      @media (max-width: 1199px) {
        .accordion .accordion-item__list li {
          gap: 12px; } }
  .accordion .icon-minus {
    display: none; }
  .accordion .accordion-item.is-open .icon-plus {
    display: none; }
  .accordion .accordion-item.is-open .icon-minus {
    display: block; }
  .accordion .accordion-item__divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 32px; }
    @media (max-width: 991px) {
      .accordion .accordion-item__divider {
        padding-top: 24px; } }
  .accordion .accordion-item__desc {
    margin-top: 20px; }
    @media (max-width: 991px) {
      .accordion .accordion-item__desc {
        margin-top: 0; } }
  .accordion .gradient-link {
    margin-top: 36px; }
    @media (max-width: 991px) {
      .accordion .gradient-link {
        margin-top: 18px; } }


/*# sourceMappingURL=components-accordion.css.map*/