/*!*********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/components/link_card.scss ***!
  \*********************************************************************************************************************************************************************************************************************************/
/*images*/
.link-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
  padding: 24px 0 40px; }
  @media (max-width: 991px) {
    .link-cards {
      grid-template-columns: 1fr; } }
  .link-cards .link-card {
    width: 100%;
    height: 210px;
    background-image: url(../../assets/img/overlay.svg);
    background-blend-mode: normal, overlay;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat; }
    .link-cards .link-card .card__content {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 40px; }
      .link-cards .link-card .card__content .js-ellipsis-title,
      .link-cards .link-card .card__content .js-ellipsis-text {
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical; }
      .link-cards .link-card .card__content .card__title {
        font-family: "PoppinsLight", "Roboto", "Arial", sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: subpixel-antialiased;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        color: white;
        text-transform: lowercase; }
        @media (max-width: 991px) {
          .link-cards .link-card .card__content .card__title {
            font-size: 16px;
            line-height: 24px; } }
      .link-cards .link-card .card__content .arrow-icon {
        width: 24px;
        height: 24px;
        padding: 6px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
        .link-cards .link-card .card__content .arrow-icon svg .icon-arrow {
          fill: white;
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
    .link-cards .link-card:hover .card__content .arrow-icon {
      -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
      transform: translate(3px, 3px); }
  .link-cards .link-card.double {
    grid-column: span 2; }


/*# sourceMappingURL=components-link_card.css.map*/