/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/block_cards_slider.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
/*images*/
/*images*/
.post-card {
  overflow: hidden;
  position: relative;
  height: 600px;
  transition: all 0.3s ease; }
  .post-card .post-card__image-wrapper {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    position: relative; }
    .post-card .post-card__image-wrapper::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
      background-size: cover; }
    .post-card .post-card__image-wrapper img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .post-card .post-card__content {
    padding: 42px 42px 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(13, 13, 13, 0.4);
    backdrop-filter: blur(5px);
    height: 200px;
    transition: all 0.3s ease; }
    .post-card .post-card__content .post-card__description {
      -webkit-line-clamp: 5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      margin-top: 12px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease; }
  .post-card .post-card__link {
    display: block;
    text-decoration: none;
    color: #fff;
    height: 100%; }
  .post-card .post-card__title {
    -webkit-line-clamp: 2;
    min-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; }
  .post-card .post-card__arrow {
    position: absolute;
    bottom: 42px;
    left: 42px;
    display: flex;
    align-items: center; }
    .post-card .post-card__arrow .arrow-text {
      font-family: "Poppins", "Roboto", "Arial", sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-size: 16px;
      line-height: 29px;
      background: linear-gradient(90deg, #81FEE5 0%, #818FFE 100%);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease;
      visibility: hidden;
      width: 0; }
      @media (max-width: 991px) {
        .post-card .post-card__arrow .arrow-text {
          font-size: 14px;
          line-height: 22px; } }
    .post-card .post-card__arrow .arrow-icon {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease; }
      .post-card .post-card__arrow .arrow-icon svg .icon-arrow {
        fill: white;
        transition: fill 0.3s ease; }
  .post-card:hover .post-card__image-wrapper {
    filter: grayscale(0%); }
  .post-card:hover .post-card__content {
    height: fit-content;
    background-color: transparent;
    background: right 0% bottom 0% url(../../assets/img/card-bg.svg) no-repeat;
    background-size: cover; }
    .post-card:hover .post-card__content .post-card__title {
      -webkit-line-clamp: 3; }
    .post-card:hover .post-card__content .post-card__description {
      visibility: visible;
      opacity: 1; }
    .post-card:hover .post-card__content::after {
      bottom: 0;
      left: 0;
      width: 40%;
      height: 2px;
      position: absolute;
      content: '';
      background: linear-gradient(90deg, #81FEE5 0%, #818FFE 100%); }
      @media (max-width: 767px) {
        .post-card:hover .post-card__content::after {
          display: none; } }
  .post-card:hover .post-card__arrow .arrow-text {
    visibility: visible;
    margin-right: 14px;
    width: auto; }
  .post-card:hover .post-card__arrow .arrow-icon svg .icon-arrow {
    fill: url(#svg-gradient-primary); }
  .post-card .post-card__tags {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: row-reverse; }
  .post-card .post-card__tag {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(16px);
    color: #ffffff;
    border-radius: 32px;
    padding: 8px 16px;
    text-transform: lowercase;
    pointer-events: none;
    position: relative;
    margin-right: -40px; }
    .post-card .post-card__tag p {
      font-family: "Poppins", "Roboto", "Arial", sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-size: 16px;
      line-height: 29px;
      background: linear-gradient(90deg, #81FEE5 0%, #818FFE 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      @media (max-width: 991px) {
        .post-card .post-card__tag p {
          font-size: 14px;
          line-height: 22px; } }
  .post-card .post-card__tag:first-child {
    margin-right: 0; }
  .post-card .post-card__tags {
    flex-wrap: wrap;
    justify-content: flex-end; }
  @media (max-width: 767px) {
    .post-card {
      height: 270px; }
      .post-card .post-card__content {
        height: 135px;
        padding: 24px 24px 50px; }
        .post-card .post-card__content .post-card__title {
          padding-right: 40px; }
        .post-card .post-card__content .post-card__description {
          -webkit-line-clamp: 6;
          font-family: "Poppins", "Roboto", "Arial", sans-serif;
          font-weight: 400;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-size: 16px;
          line-height: 29px; } }
      @media (max-width: 767px) and (max-width: 991px) {
        .post-card .post-card__content .post-card__description {
          font-size: 14px;
          line-height: 22px; } }
  @media (max-width: 767px) {
      .post-card .post-card__arrow {
        bottom: 76px;
        right: 24px;
        left: auto; }
      .post-card:hover {
        height: 450px; }
        .post-card:hover .post-card__content {
          height: fit-content;
          background-color: rgba(4, 4, 4, 0.5);
          background: right 0% bottom 0% url(../../assets/img/card-bg.svg) no-repeat; }
          .post-card:hover .post-card__content .post-card__title {
            padding-right: 0; }
        .post-card:hover .post-card__arrow {
          bottom: 24px;
          left: 24px;
          right: auto; }
          .post-card:hover .post-card__arrow .arrow-icon {
            width: 12px;
            height: 12px; } }

/* POST CARD SIMPLE STYLE */
.post-card--simple {
  overflow: hidden;
  position: relative;
  height: 470px;
  transition: all 0.3s ease; }
  .post-card--simple .post-card__image-wrapper {
    width: 100%;
    height: 100%;
    position: relative; }
    .post-card--simple .post-card__image-wrapper::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
      background-size: cover; }
    .post-card--simple .post-card__image-wrapper img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .post-card--simple .post-card__content {
    padding: 32px 32px 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(16px);
    background: rgba(13, 13, 13, 0.8);
    height: 200px;
    transition: all 0.3s ease; }
  .post-card--simple .post-card__link {
    display: block;
    text-decoration: none;
    color: #fff;
    height: 100%; }
  .post-card--simple .post-card__title {
    -webkit-line-clamp: 2;
    min-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; }
  .post-card--simple .post-card__arrow--right {
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 64px;
    transition: all 0.3s ease; }
    .post-card--simple .post-card__arrow--right .arrow-icon {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease; }
  .post-card--simple:hover .post-card__arrow--right {
    right: 26px; }
  @media (max-width: 767px) {
    .post-card--simple {
      height: 270px; }
      .post-card--simple .post-card__content {
        height: 135px;
        padding: 24px 24px 50px; }
        .post-card--simple .post-card__content .post-card__title {
          padding-right: 40px; } }

/* POST CARD ACTION STYLE */
.post-card--action {
  overflow: hidden;
  position: relative;
  height: 470px;
  transition: all 0.3s ease;
  background-image: url(../../assets/img/overlay.svg);
  background-blend-mode: normal, overlay;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat; }
  @media (max-width: 991px) {
    .post-card--action {
      height: fit-content; } }
  .post-card--action .post-card__link {
    display: block;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    height: 100%;
    padding: 32px; }
    .post-card--action .post-card__link .post-card__content {
      padding: 32px 0;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: fit-content;
      gap: 32px; }
    .post-card--action .post-card__link:hover .post-card__desc {
      display: block; }
    .post-card--action .post-card__link .post-card__desc {
      display: none;
      color: var(--color-gray-200); }
      @media (max-width: 991px) {
        .post-card--action .post-card__link .post-card__desc {
          display: block; } }
  .post-card--action .post-card__action {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 32px; }
    .post-card--action .post-card__action .post-card__card__action-text {
      visibility: hidden;
      width: 0;
      font-family: "Poppins", "Roboto", "Arial", sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-size: 16px;
      line-height: 29px;
      background: linear-gradient(90deg, #81FEE5 0%, #818FFE 100%);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 991px) {
        .post-card--action .post-card__action .post-card__card__action-text {
          font-size: 14px;
          line-height: 22px; } }
    .post-card--action .post-card__action .arrow-icon {
      width: 32px;
      height: 32px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease; }
      .post-card--action .post-card__action .arrow-icon svg .icon-arrow {
        fill: white;
        transition: fill 0.3s ease; }
      @media (max-width: 991px) {
        .post-card--action .post-card__action .arrow-icon {
          width: 24px;
          height: 24px; } }
  .post-card--action:hover .post-card__action .post-card__card__action-text {
    visibility: visible;
    margin-right: 24px;
    width: auto; }
    @media (max-width: 991px) {
      .post-card--action:hover .post-card__action .post-card__card__action-text {
        margin-right: 8px; } }
  .post-card--action:hover .post-card__action .arrow-icon svg .icon-arrow {
    fill: url(#svg-gradient-primary); }
  @media (max-width: 767px) {
    .post-card--action {
      height: 270px; }
      .post-card--action .post-card__content {
        height: 135px;
        padding: 24px 24px 50px; }
        .post-card--action .post-card__content .post-card__title {
          padding-right: 40px; } }

.cards-slider {
  padding: 0 0 80px; }
  @media (max-width: 991px) {
    .cards-slider {
      padding: 0 24px 60px; } }
  .cards-slider .heading {
    position: relative;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 70px; }
    @media (max-width: 991px) {
      .cards-slider .heading {
        padding-bottom: 24px;
        margin-bottom: 32px; } }
  .cards-slider .cards-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px; }
    @media (max-width: 991px) {
      .cards-slider .cards-navigation {
        display: none; } }
  .cards-slider .swiper-container {
    overflow: hidden; }
  .cards-slider .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 991px) {
      .cards-slider .swiper-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .cards-slider .js-button-prev,
  .cards-slider .js-button-next {
    position: static;
    margin: 0;
    background: var(--color-grey-300);
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease; }
    @media (max-width: 991px) {
      .cards-slider .js-button-prev,
      .cards-slider .js-button-next {
        width: 36px;
        height: 36px;
        padding: 10px; } }
    .cards-slider .js-button-prev svg,
    .cards-slider .js-button-next svg {
      display: block; }
      .cards-slider .js-button-prev svg .icon-arrow,
      .cards-slider .js-button-next svg .icon-arrow {
        fill: var(--color-black); }
    .cards-slider .js-button-prev:hover,
    .cards-slider .js-button-next:hover {
      background: white; }
    .cards-slider .js-button-prev::after,
    .cards-slider .js-button-next::after {
      content: "";
      display: none; }
  .cards-slider .swiper-button-disabled.btn--arrow {
    background-color: var(--color-grey-500);
    color: var(--color-black);
    pointer-events: none; }


/*# sourceMappingURL=section-block_cards_slider.css.map*/