/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/block_details_mega.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
/*images*/
/*images*/
.details-content-links {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .details-content-links h2,
  .details-content-links .heading__title {
    margin-bottom: 36px; }
  .details-content-links h3:not(.accordion-item__title):not(.card__title):not(.heading__title),
  .details-content-links h4:not(.accordion-item__title):not(.card__title):not(.heading__title) {
    padding: 44px 0 36px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--color-grey-500); }
    @media (max-width: 1199px) {
      .details-content-links h3:not(.accordion-item__title):not(.card__title):not(.heading__title),
      .details-content-links h4:not(.accordion-item__title):not(.card__title):not(.heading__title) {
        padding: 36px 0 24px;
        margin-bottom: 24px; } }
  .details-content-links .tagline + .heading h3,
  .details-content-links .tagline + .heading h4 {
    padding-top: 0 !important; }
  .details-content-links > .text-content h2:first-child,
  .details-content-links > .text-content h3:first-child {
    padding-top: 0 !important;
    border-bottom: none !important; }
  .details-content-links p:not(.accordion-item__desc) {
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-size: 16px;
    line-height: 29px;
    color: var(--color-grey-200);
    margin-bottom: 36px; }
    @media (max-width: 991px) {
      .details-content-links p:not(.accordion-item__desc) {
        font-size: 14px;
        line-height: 22px; } }
    @media (max-width: 1199px) {
      .details-content-links p:not(.accordion-item__desc) {
        margin-bottom: 16px; } }
  .details-content-links ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin: 12px !important; }
    @media (max-width: 1199px) {
      .details-content-links ul {
        gap: 12px; } }
    .details-content-links ul li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 22px;
      position: relative;
      padding-left: 60px;
      min-height: 33px;
      color: white;
      font-family: "Poppins", "Roboto", "Arial", sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-size: 16px;
      line-height: 29px; }
      @media (max-width: 991px) {
        .details-content-links ul li {
          font-size: 14px;
          line-height: 22px; } }
      @media (max-width: 991px) {
        .details-content-links ul li {
          padding-left: 38px; } }
      .details-content-links ul li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 30px;
        height: 30px;
        background-image: url("../../assets/img/mark.svg");
        background-size: contain;
        background-repeat: no-repeat; }
        @media (max-width: 991px) {
          .details-content-links ul li::before {
            width: 22px;
            height: 22px; } }
      @media (max-width: 1199px) {
        .details-content-links ul li {
          gap: 12px; } }
  .details-content-links ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    margin-left: 20px; }
    .details-content-links ol a {
      font-family: "Poppins", "Roboto", "Arial", sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-grey-200);
      text-decoration: underline;
      word-break: break-word; }
      @media (max-width: 991px) {
        .details-content-links ol a {
          font-size: 14px;
          line-height: 20px; } }
    @media (max-width: 1199px) {
      .details-content-links ol {
        gap: 12px; } }
  .details-content-links .accordion {
    padding: 0 0 44px; }
    @media (max-width: 991px) {
      .details-content-links .accordion {
        padding: 0 0 2rem; } }
  .details-content-links .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px; }
  .details-content-links .gallery-wrapper figcaption {
    display: none; }

/*images*/
.metadata-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .metadata-group {
      margin-bottom: 24px; } }
  .metadata-group .metadata-group__links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px; }

.block-details {
  padding-top: 60px; }
  @media (max-width: 991px) {
    .block-details {
      padding-top: 0; } }
  .block-details__title {
    font-family: "PoppinsSBold", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 1.375;
    font-weight: 600; }
    @media (max-width: 991px) {
      .block-details__title {
        font-size: 18px;
        line-height: 26px; } }
  .block-details.block-accordion_media_right .block-accordion .block-accordion__media {
    padding-right: 0; }
  .block-details .block-accordion {
    padding-bottom: 0; }
    .block-details .block-accordion__wrapper {
      grid-template-columns: minmax(839px, 0) minmax(550px, 0);
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 1199px) {
        .block-details .block-accordion__wrapper {
          grid-template-columns: 1fr 1fr; } }
    .block-details .block-accordion .block-accordion__description {
      grid-row: 1;
      grid-column: 1; }
      @media (max-width: 991px) {
        .block-details .block-accordion .block-accordion__description {
          grid-column: auto; } }
    .block-details .block-accordion .block-accordion__media {
      grid-row: 1;
      grid-column: 2;
      padding-right: 56px; }
      @media (max-width: 991px) {
        .block-details .block-accordion .block-accordion__media {
          grid-column: auto;
          padding-right: 0; } }
  .block-details .block-details-mega {
    padding-top: 35px;
    padding-bottom: 150px; }
    @media (max-width: 991px) {
      .block-details .block-details-mega {
        padding-bottom: 40px; } }
    .block-details .block-details-mega .details-content__wrapper {
      grid-column: 1/8;
      padding-right: 50px;
      padding-bottom: 0; }
      @media (max-width: 1199px) {
        .block-details .block-details-mega .details-content__wrapper {
          grid-template-columns: 1fr;
          padding-right: 0; } }
  .block-details .details-content-links:not(:last-child) {
    padding-bottom: 64px; }
    @media (max-width: 991px) {
      .block-details .details-content-links:not(:last-child) {
        padding-bottom: 30px; } }
  .block-details .link-cards {
    padding-top: 0;
    padding-bottom: 0; }
  .block-details .metadata-group {
    margin-bottom: 0; }

.block-details-mega {
  padding: 0 0 60px; }
  @media (max-width: 991px) {
    .block-details-mega {
      padding: 0; }
      .block-details-mega .details-general {
        padding-left: 24px;
        padding-right: 24px; } }
  .block-details-mega__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 56px;
    padding: 0 0 140px; }
    @media (max-width: 1199px) {
      .block-details-mega__wrapper {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 0 0 2rem; } }
    .block-details-mega__wrapper--areas {
      grid-template-areas: "b a" "b c";
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr; }
      @media (max-width: 991px) {
        .block-details-mega__wrapper--areas {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .block-details-mega__wrapper--areas .details-content__wrapper {
        grid-area: b; }
      .block-details-mega__wrapper--areas .aside {
        grid-area: a;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 60px;
        grid-area: a;
        grid-column: 8 / 13;
        padding-left: 136px; }
        @media (max-width: 991px) {
          .block-details-mega__wrapper--areas .aside {
            padding-left: 0; } }
      .block-details-mega__wrapper--areas .asside-card {
        grid-area: c; }
        .block-details-mega__wrapper--areas .asside-card .info-slider-container {
          margin-left: 0; }
  .block-details-mega .details-content__wrapper {
    grid-column: 1/8;
    width: 100%; }
    @media (max-width: 991px) {
      .block-details-mega .details-content__wrapper {
        grid-column: 1;
        overflow: hidden; } }
  .block-details-mega .acf-innerblocks-container .details-content-links {
    margin-top: 100px; }
  .block-details-mega .acf-innerblocks-container .block-services-included .metadata-group {
    margin-bottom: 0; }
  .block-details-mega .asside-card {
    grid-column: 8/13;
    width: 100%;
    position: sticky;
    top: 160px;
    align-self: start;
    z-index: 10;
    padding-left: 136px; }
    @media (max-width: 1599px) {
      .block-details-mega .asside-card {
        padding-left: 80px; } }
    @media (max-width: 1199px) {
      .block-details-mega .asside-card {
        padding-left: 0px; } }
    @media (max-width: 991px) {
      .block-details-mega .asside-card {
        grid-column: 1;
        padding: 0; } }
  .block-details-mega .asside-card--narrow {
    padding-left: 200px; }
    @media (max-width: 1599px) {
      .block-details-mega .asside-card--narrow {
        padding-left: 80px; } }
    @media (max-width: 1199px) {
      .block-details-mega .asside-card--narrow {
        padding-left: 0; }
        .block-details-mega .asside-card--narrow .info-slider-container {
          max-width: 100%; } }
  .block-details-mega .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px; }
  .block-details-mega .gallery-wrapper figcaption {
    display: none; }

.block-details-main {
  padding: 0 0 60px; }
  @media (max-width: 991px) {
    .block-details-main {
      padding: 0; }
      .block-details-main .details-general {
        padding-left: 24px;
        padding-right: 24px; } }
  .block-details-main .block-details-mega__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 56px;
    padding: 0 0 140px; }
    @media (max-width: 991px) {
      .block-details-main .block-details-mega__wrapper {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 0 24px 2rem; } }
  .block-details-main .details-content__wrapper {
    grid-column: 1/8;
    width: 100%; }
    @media (max-width: 1199px) {
      .block-details-main .details-content__wrapper {
        padding-right: 0;
        grid-column: 1;
        overflow: hidden; } }
  .block-details-main .asside-card {
    grid-column: 8/13;
    width: 100%;
    position: sticky;
    top: 130px;
    align-self: start;
    z-index: 10;
    padding-left: 136px; }
    @media (max-width: 1599px) {
      .block-details-main .asside-card {
        padding-left: 80px; } }
    @media (max-width: 1199px) {
      .block-details-main .asside-card {
        grid-column: 1;
        padding-left: 0px; } }
  .block-details-main .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px; }
  .block-details-main .gallery-wrapper figcaption {
    display: none; }

.block-accordion_default .block-details-mega__wrapper, .block-accordion_media-right .block-details-mega__wrapper, .block-accordion_media-left .block-details-mega__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 56px;
  position: relative;
  height: 100%; }
  @media (max-width: 991px) {
    .block-accordion_default .block-details-mega__wrapper, .block-accordion_media-right .block-details-mega__wrapper, .block-accordion_media-left .block-details-mega__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 32px; }
      .block-accordion_default .block-details-mega__wrapper .info-card-wrapper, .block-accordion_media-right .block-details-mega__wrapper .info-card-wrapper, .block-accordion_media-left .block-details-mega__wrapper .info-card-wrapper {
        min-height: auto; }
      .block-accordion_default .block-details-mega__wrapper .asside-card, .block-accordion_media-right .block-details-mega__wrapper .asside-card, .block-accordion_media-left .block-details-mega__wrapper .asside-card {
        display: block; }
        .block-accordion_default .block-details-mega__wrapper .asside-card img, .block-accordion_media-right .block-details-mega__wrapper .asside-card img, .block-accordion_media-left .block-details-mega__wrapper .asside-card img {
          margin-bottom: 0; } }

.block-accordion_default .details-content__wrapper, .block-accordion_media-right .details-content__wrapper, .block-accordion_media-left .details-content__wrapper {
  grid-column: 8/13;
  background-color: var(--color-black);
  z-index: 1; }
  @media (max-width: 991px) {
    .block-accordion_default .details-content__wrapper, .block-accordion_media-right .details-content__wrapper, .block-accordion_media-left .details-content__wrapper {
      width: 100%; } }

.block-accordion_default .info-card-wrapper, .block-accordion_media-right .info-card-wrapper, .block-accordion_media-left .info-card-wrapper {
  min-height: auto; }
  .block-accordion_default .info-card-wrapper::before, .block-accordion_media-right .info-card-wrapper::before, .block-accordion_media-left .info-card-wrapper::before {
    content: "";
    position: absolute;
    top: 56px;
    left: 56px;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/img/overlay.svg);
    background-blend-mode: normal, overlay;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1; }
    @media (max-width: 991px) {
      .block-accordion_default .info-card-wrapper::before, .block-accordion_media-right .info-card-wrapper::before, .block-accordion_media-left .info-card-wrapper::before {
        display: none; } }

.block-accordion_default .asside-card, .block-accordion_media-right .asside-card, .block-accordion_media-left .asside-card {
  grid-column: span 6; }
  @media (max-width: 1199px) {
    .block-accordion_default .asside-card, .block-accordion_media-right .asside-card, .block-accordion_media-left .asside-card {
      grid-column: span 6; } }
  @media (max-width: 991px) {
    .block-accordion_default .asside-card, .block-accordion_media-right .asside-card, .block-accordion_media-left .asside-card {
      display: none; } }
  .block-accordion_default .asside-card--mobile, .block-accordion_media-right .asside-card--mobile, .block-accordion_media-left .asside-card--mobile {
    display: none; }
    @media (max-width: 991px) {
      .block-accordion_default .asside-card--mobile, .block-accordion_media-right .asside-card--mobile, .block-accordion_media-left .asside-card--mobile {
        display: block;
        margin-top: 2rem;
        margin-bottom: 1.5rem; }
        .block-accordion_default .asside-card--mobile .accordion-card__image-wrapper, .block-accordion_media-right .asside-card--mobile .accordion-card__image-wrapper, .block-accordion_media-left .asside-card--mobile .accordion-card__image-wrapper {
          height: 240px; }
        .block-accordion_default .asside-card--mobile img, .block-accordion_media-right .asside-card--mobile img, .block-accordion_media-left .asside-card--mobile img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; } }
  .block-accordion_default .asside-card .accordion-card__image-wrapper, .block-accordion_media-right .asside-card .accordion-card__image-wrapper, .block-accordion_media-left .asside-card .accordion-card__image-wrapper {
    position: relative;
    margin-bottom: 56px;
    margin-right: 56px;
    position: sticky;
    top: 130px; }
    .block-accordion_default .asside-card .accordion-card__image-wrapper::after, .block-accordion_media-right .asside-card .accordion-card__image-wrapper::after, .block-accordion_media-left .asside-card .accordion-card__image-wrapper::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200' preserveAspectRatio='none'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' result='noise'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23noise)' opacity='0.15'/%3E%3C/svg%3E");
      background-size: cover, 200px 200px;
      background-repeat: no-repeat, repeat; }
    .block-accordion_default .asside-card .accordion-card__image-wrapper::before, .block-accordion_media-right .asside-card .accordion-card__image-wrapper::before, .block-accordion_media-left .asside-card .accordion-card__image-wrapper::before {
      content: "";
      position: absolute;
      top: 56px;
      left: 56px;
      height: 100%;
      width: 100%;
      background-image: url(../../assets/img/overlay.svg);
      background-blend-mode: normal, overlay;
      background-size: cover;
      background-position: right top;
      background-repeat: no-repeat;
      overflow: hidden;
      z-index: -1; }
      @media (max-width: 991px) {
        .block-accordion_default .asside-card .accordion-card__image-wrapper::before, .block-accordion_media-right .asside-card .accordion-card__image-wrapper::before, .block-accordion_media-left .asside-card .accordion-card__image-wrapper::before {
          display: none; } }
  .block-accordion_default .asside-card img, .block-accordion_media-right .asside-card img, .block-accordion_media-left .asside-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
    margin-bottom: 0; }

.block-accordion_default .details-content__wrapper, .block-accordion_media-left .details-content__wrapper {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
  @media (max-width: 991px) {
    .block-accordion_default .details-content__wrapper, .block-accordion_media-left .details-content__wrapper {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.block-accordion_default .asside-card, .block-accordion_media-left .asside-card {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding-left: 0; }
  @media (max-width: 991px) {
    .block-accordion_default .asside-card, .block-accordion_media-left .asside-card {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.block-accordion_default .info-slider-container, .block-accordion_media-left .info-slider-container {
  margin-left: 0;
  max-width: 100%; }

.block-accordion_media-right .info-slider-container {
  margin-left: 0;
  max-width: 100%; }

.block-accordion_media-right .block-details-mega .asside-card--narrow {
  padding-left: 0;
  padding-right: 56px; }
  @media (max-width: 991px) {
    .block-accordion_media-right .block-details-mega .asside-card--narrow {
      padding-right: 0; } }

.block-accordion_media-right .details-content__wrapper {
  grid-column: 1/6;
  grid-row: 1; }
  @media (max-width: 1199px) {
    .block-accordion_media-right .details-content__wrapper {
      grid-column: 1/7; } }
  @media (max-width: 991px) {
    .block-accordion_media-right .details-content__wrapper {
      grid-column: auto; } }

.block-accordion_media-right .asside-card {
  grid-column: 7/13;
  grid-row: 1; }
  @media (max-width: 991px) {
    .block-accordion_media-right .asside-card {
      grid-column: auto; } }

.block-accordion_default .details-content__wrapper {
  grid-column: 7/13; }

.block-accordion_default .asside-card {
  grid-column: span 5; }

.block-accordion_sticky .info-card-wrapper:not(.no-bg) {
  min-height: auto; }
  .block-accordion_sticky .info-card-wrapper:not(.no-bg)::before {
    content: "";
    position: absolute;
    top: 56px;
    left: 56px;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/img/overlay.svg);
    background-blend-mode: normal, overlay;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1; }
    @media (max-width: 991px) {
      .block-accordion_sticky .info-card-wrapper:not(.no-bg)::before {
        display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .block-accordion_sticky .block-details-mega__wrapper {
    grid-template-columns: 1fr 1fr; }
  .block-accordion_sticky .block-details-mega .details-content__wrapper {
    grid-column: 1; }
  .block-accordion_sticky .block-details-mega .asside-card {
    grid-column: 2; } }

.block-accordion_sticky[data-block="service-details"] .block-details-mega__wrapper {
  grid-template-columns: minmax(0, 839px) minmax(0, 550px);
  gap: 56px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.block-accordion_sticky[data-block="service-details"] .details-content__wrapper {
  grid-column: 1; }

.block-accordion_sticky[data-block="service-details"] .info-card-wrapper:not(.no-bg) {
  margin-right: 56px; }
  .block-accordion_sticky[data-block="service-details"] .info-card-wrapper:not(.no-bg) img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain; }

.block-accordion_sticky[data-block="service-details"] .asside-card {
  grid-column: 2;
  padding-left: 0; }

.block-accordion_sticky[data-block="service-details"] .info-slider-container {
  margin-left: 0;
  max-width: 100%; }

@media (max-width: 991px) {
  .block-accordion_sticky[data-block="service-details"] .block-details-mega__wrapper {
    grid-template-columns: 1fr;
    gap: 32px; }
  .block-accordion_sticky[data-block="service-details"] .details-content__wrapper {
    grid-column: auto; }
  .block-accordion_sticky[data-block="service-details"] .asside-card {
    grid-column: auto; }
  .block-accordion_sticky[data-block="service-details"] .info-card-wrapper:not(.no-bg) {
    margin-right: 0;
    height: 240px; }
    .block-accordion_sticky[data-block="service-details"] .info-card-wrapper:not(.no-bg) img {
      -o-object-fit: cover;
      object-fit: cover; } }


/*# sourceMappingURL=section-block_details_mega.css.map*/