/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/block_media.scss ***!
  \********************************************************************************************************************************************************************************************************************************/
/*images*/
.block-media {
  margin: 100px 0;
  width: 100%;
  height: auto;
  background-image: url(../../assets/img/overlay.svg);
  background-blend-mode: normal, overlay;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  gap: 120px; }
  @media (max-width: 1499px) {
    .block-media {
      padding: 32px;
      gap: 32px; } }
  @media (max-width: 991px) {
    .block-media {
      margin: 60px auto;
      padding: 32px;
      gap: 32px;
      height: 100%;
      width: calc(100vw - 50px); } }
  .block-media__col--text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .block-media__col--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    position: relative; }
    .block-media__col--img::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
      background-size: cover; }
    @media (max-width: 1199px) {
      .block-media__col--img {
        display: none; } }
    .block-media__col--img img {
      height: 430px;
      width: 460px;
      -o-object-fit: cover;
      object-fit: cover; }
  .block-media .title {
    color: white;
    margin-bottom: 42px; }
    .block-media .title--h2 {
      font-family: "PoppinsSBold", "Roboto", "Arial", sans-serif;
      font-style: normal;
      font-size: 40px;
      line-height: 52px;
      font-weight: 600; }
      @media (max-width: 991px) {
        .block-media .title--h2 {
          font-size: 28px;
          line-height: 36px; } }
  .block-media .text-content p {
    margin-bottom: 20px;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-size: 16px;
    line-height: 29px;
    color: var(--color-grey-200); }
    @media (max-width: 991px) {
      .block-media .text-content p {
        font-size: 14px;
        line-height: 22px; } }
  .block-media .btn {
    margin-top: 48px; }


/*# sourceMappingURL=section-block_media.css.map*/