/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/block_section_heading.scss ***!
  \******************************************************************************************************************************************************************************************************************************************/
/*images*/
.block-section-heading {
  position: relative;
  padding: 80px 0 60px;
  margin-bottom: 80px; }
  .block-section-heading::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background: radial-gradient(232.15% 232.15% at 50% 119.48%, rgba(129, 254, 229, 0.5) 0%, rgba(104, 115, 205, 0.5) 12.98%, #000 24.04%); }
  @media (max-width: 991px) {
    .block-section-heading {
      padding: 48px 24px 24px;
      margin-bottom: 32px; } }
  .block-section-heading--center {
    text-align: center; }
  .block-section-heading .title {
    text-align: left; }
    @media (max-width: 991px) {
      .block-section-heading .title {
        padding-right: 0; } }
    .block-section-heading .title--h2 {
      font-family: "PoppinsSBold", "Roboto", "Arial", sans-serif;
      font-style: normal;
      font-size: 48px;
      line-height: 60px;
      font-weight: 600; }
      @media (max-width: 991px) {
        .block-section-heading .title--h2 {
          font-size: 32px;
          line-height: 42px; } }
      @media (max-width: 991px) {
        .block-section-heading .title--h2 {
          font-family: "PoppinsSBold", "Roboto", "Arial", sans-serif;
          font-style: normal;
          font-size: 32px;
          line-height: 44px;
          font-weight: 600; } }
  @media (max-width: 991px) and (max-width: 991px) {
    .block-section-heading .title--h2 {
      font-size: 24px;
      line-height: 32px; } }
  @media (max-width: 767px) {
    .block-section-heading .heading-action {
      display: none; } }
  @media (max-width: 991px) {
    .block-section-heading .divider {
      left: 24px;
      width: calc(100% - 48px); } }
  .block-section-heading .person-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 32px;
    padding: 0; }
    .block-section-heading .person-card .person-card__info {
      text-align: right; }
      .block-section-heading .person-card .person-card__info .card__name {
        font-family: "PoppinsMedium", "Roboto", "Arial", sans-serif;
        font-style: normal;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500; }
        @media (max-width: 991px) {
          .block-section-heading .person-card .person-card__info .card__name {
            font-size: 18px;
            line-height: 26px; } }
      .block-section-heading .person-card .person-card__info .card__credentials {
        font-family: "Poppins", "Roboto", "Arial", sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 12px;
        line-height: 18px; }
        @media (max-width: 991px) {
          .block-section-heading .person-card .person-card__info .card__credentials {
            font-size: 12px;
            line-height: 20px; } }
        @media (max-width: 991px) {
          .block-section-heading .person-card .person-card__info .card__credentials {
            margin-bottom: 12px; } }
      .block-section-heading .person-card .person-card__info .card__date {
        font-family: "Poppins", "Roboto", "Arial", sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: var(--color-grey-300);
        font-family: "PoppinsLight", "Roboto", "Arial", sans-serif;
        font-weight: 300;
        line-height: 18px; }
        @media (max-width: 991px) {
          .block-section-heading .person-card .person-card__info .card__date {
            font-size: 12px;
            line-height: 20px; } }
      .block-section-heading .person-card .person-card__info .card__title {
        font-family: "Poppins", "Roboto", "Arial", sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400; }
        @media (max-width: 991px) {
          .block-section-heading .person-card .person-card__info .card__title {
            font-size: 12px;
            line-height: 20px; } }
    .block-section-heading .person-card__image-container {
      width: 152px;
      height: 152px;
      border-radius: 50%;
      overflow: hidden; }
      .block-section-heading .person-card__image-container .person-card__image {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: -webkit-filter 0.5s ease;
        transition: -webkit-filter 0.5s ease;
        transition: filter 0.5s ease;
        transition: filter 0.5s ease, -webkit-filter 0.5s ease; }
    .block-section-heading .person-card:hover .person-card__image {
      -webkit-filter: none;
      filter: none; }


/*# sourceMappingURL=section-block_section_heading.css.map*/