html {
  -webkit-tap-highlight-color: transparent !important;
  font-size: $fontSizeBase;
  scroll-behavior: smooth;
  @include scrollbar;
}

body {
  position: relative;
  margin: auto;
  //   @include text-base;
  font-family: $font-primary;
  color: var(--color-grey-100);
  background: var(--color-black);
}

html, body {
  // For sticky elements to work properly
  overflow-x: clip;
  overflow-y: visible;
  height: auto;
}

a {
  color: var(--color-grey-300);
  background: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  width: 100%;
  color: var(--typography-black);
  @include container;

  @include max-laptop {
    padding: 0 r(16);
  }
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include text-button;

  padding: 12px 40px;
  border-radius: 100px;

  // --- Button gradient ---
  // &--gradient {
  //   position: relative;
  //   color: var(--color-white, #fff);
  //   border: 2px solid transparent;
  //   background-image:
  //       linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
  //       url(../../assets/img/overlay.png),
  //       $primary-gradient;
  //   background-origin: border-box;
  //   background-clip: padding-box, border-box;

  //   &:hover {
  //     color: var(--color-black, #000);
  //     background-image:
  //         $primary-gradient,
  //         $primary-gradient;
  //   }
  // }

  &--gradient {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-decoration: none;
      background: transparent;
      border: none;
      z-index: 1;

      min-width: fit-content;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 100px;
        padding: 2px;
        background: $primary-gradient;
        -webkit-mask:
           linear-gradient(#fff 0 0) content-box,
           linear-gradient(#fff 0 0);
        mask:
           linear-gradient(#fff 0 0) content-box,
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        transition: opacity 0.4s ease;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: $primary-gradient;
        z-index: -1;
        border-radius: 100px;
        opacity: 0;
        transition: opacity 0.4s ease;
      }

      &:hover {
        color: black;
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 0;
        }
      }
  }


  &--text {
    background: none;
    border: none;
    color: white;
    outline: none;
  }

  &--arrow {
    @include button-arrow
  }
}

.link--text {
  text-decoration: underline;
  font-weight: $w-light;
  font-family: $font-light;

  &:hover {
      color: white;
      text-decoration: none;
    }
}

.tagline {
  @include text-h6;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 30px;

  @media (max-width: 991px) {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

h1 {
  @include text-h1;
}

h2 {
  @include text-h2;
}

h3 {
  @include text-h3;
}

h4 {
  @include text-h4;
}

h5 {
  @include text-h5;
}

h6 {
  @include text-h6;
}

.heading-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .heading-action {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 2rem;
  }

  .action-text {
      @include text-body-large;
      display: block;
  }

  .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      &--active {
        cursor: pointer;
        width: 62px;
        height: 62px;
        padding: 0.5rem;

        @media (max-width: 991px) {
          width: 44px;
          height: 44px;
        }
      }

      &--simple {
        width: 65px;
        height: 65px;

        @media (max-width: 991px) {
          width: 48px;
          height: 48px;
        }
      }

      svg {
          color: var(--color-black);
          width: 24px;
          height: 24px;
      }

      &.icon-img {
          object-fit: contain;

      }
  }

  .heading-action--down {
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      gap: 0.5rem;

      .icon--active:hover {
          transform: translate(0, 3px);
      }
  }

  .heading-action--right {
      text-align: right;

      .icon--active:hover {
        transform: translate(3px, 0);
      }
  }
}

.text-content {
  @include text-body-base;
  &--grey {
    color: var(--color-grey-200);
  }
  &--large {
    @include text-body-large;
  }

  @media (max-width: 991px) {
    &--grey {
      color: var(--color-grey-300);
    }
    &--large {
      @include text-body-base;
    }
  }
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: $primary-gradient;
  opacity: 0.8;

  &-element {
    position: relative;
  }
}

.desktop {
  display: block;
  @media (max-width: 1199px) {
    display: none;
  }
}

.laptop-up {
  display: block;
  @media (max-width: 991px) {
    display: none;
  }
}

.laptop-down {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}

.tablet {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}


.mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.metadata-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px; // Відступ між текстом і стрілкою
  padding: 3px 14px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 100px;
  @include tag-border;
  font-size: 14px;
  line-height: 22px;

  &::after {
    content: "";
    width: 6px;
    height: 16px;
    background-color: white;


    mask-image: url('../../assets/img/expand-more.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('../../assets/img/expand-more.svg');
    -webkit-mask-size: contain;
  }

  &:hover {
      color: var(--color-black, #000);
      background-image:
          $primary-gradient,
          $primary-gradient;
      background-clip: none;
  }

  &:hover::after {
    color: white;
    transform: translateX(4px);
    transition: transform 0.3s ease;
  }
}

.list-item--marked {
  @include item-marked;
}

.title {
  text-transform: lowercase;
}

.title--top-divider {
  padding-top: 48px;
  border-top: 1px solid var(--color-grey-400);
}


// a.button,
// .button {
//   @include button;
//   @include button-primary;

//   &_dark {
//     @include button-dark;

//     span {
//       &:before {
//         background: url(../img/angle-right-light.svg) no-repeat;
//       }
//     }

//     &:hover {
//       span {
//         &:before {
//           background: url(../img/angle-right-dark.svg) no-repeat;
//         }
//       }
//     }
//   }
// }
