@mixin max-desktop-lg {
  @media only screen and (max-width: 1799px) {
    @content;
  }
}

@mixin max-desktop {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin max-laptop {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}

@mixin max-tablet-portrait {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

@mixin max-tablet {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

@mixin max-small {
  @media only screen and (max-width: 350px) {
    @content;
  }
}

@mixin min-small {
  @media only screen and (min-width: 350px) {
    @content;
  }
}

@mixin min-tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin min-tablet-portrait {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin min-laptop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin min-desktop {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin min-desktop-lg {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

@mixin small_laptop_custom {
  @media only screen and (min-width: 1200px) and (max-height: 700px) {
    @content;
  }
}

//Px to rem. Usage: r(value in px)
@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}

@function r($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  $base: strip-units($fontSizeBase);
  $result: ($pxval / $base) * 1rem;
  @return round($result * 1000) / 1000;
}

//Font face
//Usage: @include font_face('RobotoRegular', 'Roboto', 300, italic);
@mixin font_face(
  $file_name,
  $font_name: $file_name,
  $weight: normal,
  $style: normal
) {
  @font-face {
    font-family: quote($font_name);
    src:  url("../../assets/fonts/" + $file-name + ".woff") format("woff"),
          url("../../assets/fonts/" + $file_name + ".woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/*images*/

@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

// vertical-align at center
@mixin vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 r(30);
}

@mixin text-gradient {
  color: $primaryColor;
  background: linear-gradient(270deg, #b6c874 0%, #4790a0 47.83%, #20434a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin button-before($bg, $opacity: 0.16) {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: $bg;
    z-index: 1;
    transition: all 0.5s;
    opacity: 0;
  }
  &:hover::before {
    opacity: $opacity;
  }
}

@mixin grayscale-hover {
  filter: grayscale(100%);
  transition: filter 0.5s;
  @include hover {
    filter: grayscale(0%);
  }
}
@mixin scrollbar {
  scrollbar-color: #fff #040404;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #040404;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
  }
}

@mixin primary-gradient() {
  background: linear-gradient(90deg, #1c3c43 0%, #4996a7 100%);
  @include button-before(#000);
}
@mixin secondary-gradient() {
  background: linear-gradient(to right, #eccf2b 0%, #f8de4b 51%);
  @include button-before(#fff);
}

@mixin outline-hover() {
  $bg: linear-gradient(
    90deg,
    rgba(28, 60, 67, 0.06) 0%,
    rgba(73, 150, 167, 0.06) 100%
  );
  &::before {
    background: $bg;
  }
  &:hover::before {
    opacity: 1;
  }
  // @include button-before($bg, 1);
}
@mixin card-gradinet() {
  background: linear-gradient(180deg, #def3fc 0%, #dcf4f0 100%);
}
@mixin card-image-gradient {
  position: relative;
  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: linear-gradient(
      180deg,
      rgba(4, 36, 41, 0) 31.67%,
      #042429 100%
    );
  }
}

@mixin big-card-gradient() {
  background: linear-gradient(180deg, #f5f6da 0%, #a7d0d9 100%);
}

@mixin underline {
  position: relative;
  &:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $primaryColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    content: "";
  }
}
@mixin underline-hover {
  &:after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

// Mixin for texts

// Base
@mixin font-poppins {
  font-family: $font-primary;
  font-style: normal;
}

// --- Headings ---

@mixin text-h0 {
  font-family: $font-semibold;
  font-style: normal;
  font-size: $h0-size;
  line-height: $h0-lh;
  font-weight: $w-semibold; // 600

  @media (max-width: 991px) {
    font-size: $h0-size-mobile;
    line-height: $h0-lh-mobile;
  }
}

@mixin text-h1 {
  font-family: $font-semibold;
  font-style: normal;
  font-size: $h1-size;
  line-height: $h1-lh;
  font-weight: $w-semibold; // 600

  @media (max-width: 991px) {
    font-size: $h1-size-mobile;
    line-height: $h1-lh-mobile;
  }
}

@mixin text-h2 {
  font-family: $font-semibold;
  font-style: normal;
  font-size: $h2-size;
  line-height: $h2-lh;
  font-weight: $w-semibold; // 600

  @media (max-width: 991px) {
    font-size: $h2-size-mobile;
    line-height: $h2-lh-mobile;
  }
}

@mixin text-h3 {
  font-family: $font-semibold;
  font-style: normal;
  font-size: $h3-size;
  line-height: $h3-lh;
  font-weight: $w-semibold;

  @media (max-width: 991px) {
    font-size: $h3-size-mobile;
    line-height: $h3-lh-mobile;
  }
}

@mixin text-h4 {
  font-family: $font-semibold;
  font-style: normal;
  font-size: $h4-size;
  line-height: $h4-lh;
  font-weight: $w-semibold; // 600

  @media (max-width: 991px) {
    font-size: $h4-size-mobile;
    line-height: $h4-lh-mobile;
  }
}

@mixin text-h5 {
  font-family: $font-medium;
  font-style: normal;
  font-size: $h5-size;
  line-height: $h5-lh;
  font-weight: $w-medium; // 500

  @media (max-width: 991px) {
    font-size: $h5-size-mobile;
    line-height: $h5-lh-mobile;
  }
}

@mixin text-h6 {
  font-family: $font-light;
  font-style: normal;
  font-size: $h6-size;
  line-height: $h6-lh;
  font-weight: $w-light; // 300

  @media (max-width: 991px) {
    font-family: $font-semibold;
    font-size: $h6-size-mobile;
    line-height: $h6-lh-mobile;
    font-weight: $w-semibold;
  }
}

@mixin text-h7 {
  font-family: $font-medium;
  font-style: normal;
  font-size: $h7-size;
  line-height: $h7-lh;
  font-weight: $w-medium; // 500
}

// --- Body & UI ---

@mixin text-title {
  font-family: $font-semibold;
  font-style: normal;
  font-size: $text-title-size;
  line-height: $text-title-lh;
  font-weight: $w-semibold; // 600
}

@mixin text-body-large {
  font-family: $font-light;
  font-weight: $w-light; // 300
  -webkit-font-smoothing: subpixel-antialiased;
  font-style: normal;
  font-size: $text-body-large-size;
  line-height: $text-body-large-lh;

  @media (max-width: 991px) {
    font-size: $text-body-large-size-mobile;
    line-height: $text-body-large-lh-mobile;
  }
}

@mixin text-body-base {
  // font-family: $font-light;
  // font-weight: $w-light; // 300
  font-family: $font-primary;
  font-weight: $w-regular; // 400
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-size: $text-body-base-size;
  line-height: $text-body-base-lh;

  @media (max-width: 991px) {
    font-size: $text-body-base-size-mobile;
    line-height: $text-body-base-lh-mobile;
  }
}

@mixin text-body-small {
  @include font-poppins;
  font-size: $text-body-small-size;
  line-height: $text-body-small-lh;
  font-weight: $w-regular; // 400

  @media (max-width: 991px) {
    font-size: $text-body-small-size-mobile;
    line-height: $text-body-small-lh-mobile;
  }
}

// Style "400" (Caption)
@mixin text-caption {
  font-family: $font-medium;
  font-style: normal;
  font-size: $text-caption-size;
  line-height: $text-caption-lh;
  font-weight: $w-medium; // 500

  @media (max-width: 991px) {
    @include font-poppins;
    font-size: $text-caption-size-mobile;
    line-height: $text-caption-lh-mobile;
    font-weight: $w-regular; // 400
  }
}

// Style "600" (Button Text)
@mixin text-button {
  @include font-poppins;
  font-size: $text-button-size;
  line-height: $text-button-lh;

  @media (max-width: 991px) {
    font-size: $text-button-size-mobile;
    line-height: $text-button-lh-mobile;
  }
}

@mixin text-link {
  @include font-poppins;
  font-size: $text-link-size;
  line-height: $text-link-lh;

  @media (max-width: 991px) {
    font-size: $text-link-size-mobile;
    line-height: $text-link-lh-mobile;
  }
}

@mixin overflow-dots {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@mixin input-border {
  color: var(--color-white, #fff);
  border: 1px solid transparent;
  background-image:
      linear-gradient(#040404, #040404),
      $grey-gradient-50;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@mixin tag-border {
  color: var(--color-white, #fff);
  border: 1px solid transparent;
  background-image:
      linear-gradient(#040404, #040404),
      $primary-gradient;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@mixin button-arrow {
  background: var(--color-grey-300);
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;

  @media (max-width: 991px) {
    width: 36px;
    height: 36px;
    padding: 10px;
  }

  svg {
      display: block;
      .icon-arrow {
          fill: var(--color-black);
      }
  }

  &:hover {
      background: white;
  }
}

@mixin bg-main {
  background-image:
   linear-gradient(180, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 1) 35%),
    url(../../assets/img/overlay.png),
    url(../../assets/img/noize.png);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 13.46%, #0d0d0d 100%);
  background-blend-mode: normal, overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-image {
  background-image: url(../../assets/img/overlay.svg);
  background-blend-mode: normal, overlay;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

@mixin bg-image-65 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)),
    url(../../assets/img/overlay.png);
  background-blend-mode: normal, overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin bg-image-80 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)),
    url(../../assets/img/overlay.png);
  background-blend-mode: normal, overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-overlay($opacity: 0.3) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background:
      linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
    background-size: cover;
  }
}

@mixin item-marked {
  position: relative;
  padding-left: 60px;
  min-height: 33px;
  color: white;
  @include text-body-base;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 30px;
    height: 30px;
    background-image: url("../../assets/img/mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@mixin gradient-text {

  @include text-body-base;
  background: $primary-gradient;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}

@mixin gradient-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include text-button;
  padding: 12px 40px;
  border-radius: 100px;
  position: relative;
  border: none;
  background: none;
  z-index: 1;
  color: white;

    &:hover {
      color: var(--color-black, #000);

      &::after {
         background-image: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background: $primary-gradient;
      z-index: -1;
      border-radius: 100px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background-image:
          linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)),
          url(../../assets/img/overlay.png);
        background-blend-mode: normal, overlay;
        border-radius: 100px;
        z-index: -1;
    }
  }

  @mixin generate-z-index($count: 10) {
    @for $i from 1 through $count {
      &:nth-child(#{$i}) {
        z-index: $i;
      }
    }
  }