:root {
  --wp--style--global--content-size-large: 1576px;
  --wp--style--global--content-size-medium: 1140px;
  --wp--style--global--content-size-small: 900px;
  --color-black: #040404;
  --color-black-opacity---900: rgba(0, 0, 0, 0.9);
  --color-black-opacity: rgba(0, 0, 0, 0.4);
  --color-primary: #0e3d44;
  --color-primary-green: #81FEE5;
  --color-primary-violet: #818ffe;
  --color-secondary: #f8de4b;
  --color-text: #414042;
  --color-white: #fff;
  --color-red: rgba(229, 57, 53, 0.2);
  --color-yellow: #ab9b08;
  --color-text-grey: #D7D7D7;
  --color-grey: #414042;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #ededed;
  --color-grey-300: #d9d9d9;
  --color-grey-400: #b3b3b3;
  --color-grey-500: #7a7a7a;
  --color-grey-600: #4D4D4D;
  --color-grey-700: #2E2E2E;
  --color-grey-800: #1A1A1A;
  --color-grey-900: #040404;
  --color-offwhite: #f4f4f4;
  --base-font: "Poppins", sans-serif;
  --light-font: "Poppins", sans-serif;
  --medium-font: "PoppinsMedium", sans-serif;
  --semibold-font: "PoppinsSBold", sans-serif;
  // --second-family: "Inter", sans-serif;
  // --third-family: "Outfit", sans-serif;
}
