@import "../common/variable";
@import "../common/mixins";
@import "../components/details_content_links";
@import "../components/metadata_group.scss";

.block-details {
  padding-top: 60px;

  @media (max-width: 991px) {
    padding-top: 0;
  }

  &__title {
    @include text-h4;
    padding-top: 0 !important;
  }

  &.block-accordion_media_right {
    .block-accordion .block-accordion__media {
      padding-right: 0;
    }
  }

  .block-accordion {
    padding-bottom: 0;

    &__wrapper {
      grid-template-columns: minmax(839px, 0) minmax(550px, 0);
      justify-content: space-between;

      @media (max-width: 1199px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .block-accordion__description {
      grid-row: 1;
      grid-column: 1;

      @media (max-width: 991px) {
        grid-column: auto;
      }
    }

    .block-accordion__media {
      grid-row: 1;
      grid-column: 2;
      padding-right: 56px;

      @media (max-width: 991px) {
        grid-column: auto;
        padding-right: 0;
      }
    }
  }

  .block-details-mega {
    padding-top: 35px;
    padding-bottom: 150px;

    @media (max-width: 991px) {
      padding-bottom: 40px;
    }

    .details-content__wrapper {
      grid-column: 1/8;
      padding-right: 50px;
      padding-bottom: 0;

      @media (max-width: 1199px) {
        grid-template-columns: 1fr;
        padding-right: 0;
      }
    }
  }

  .details-content-links {
    &:not(:last-child) {
      padding-bottom: 64px;

      @media (max-width: 991px) {
        padding-bottom: 30px;
      }
    }
  }

  .link-cards {
    padding-top: 0;
    padding-bottom: 0;
  }

  .metadata-group {
    margin-bottom: 0;
  }

  &-content-sidebar {
    &[data-block="media"] {
      @media (max-width: 991px) {
        padding-top: $mobile-block-margin;
      }
    }

    &[data-block="service-details"] {
      .details-content-links {
        > .text-content {
          &:not(:first-child) {
            margin-top: $mobile-block-margin;
          }

          &:not(:last-child) {
            margin-bottom: $mobile-block-margin;
          }
        }
      }
    }
  }
}

.block-details-mega {
  margin-bottom: 140px;

  [data-block="media"] {
    & {
      margin-bottom: 200px;

      @media (max-width: 991px) {
        margin-bottom: $mobile-block-margin;
      }
    }
  }

  @media (max-width: 991px) {
    margin-bottom: $mobile-block-margin;
    padding: 0;

    .details-general {
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 2rem;
    }
  }

  &__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    gap: 56px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    &--areas {
      grid-template-areas:
        "b a"
        "b c";
      grid-template-rows: min-content 1fr;

      @media (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        gap: 100px;
      }

      @media (max-width: 991px) {
        gap: 2rem;
      }

      .details-content__wrapper {
        grid-area: b;
      }

      .aside {
        grid-area: a;
        display: flex;
        flex-direction: column;
        gap: 60px;
        grid-area: a;
        grid-column: 8 / 13;
        padding-left: 136px;

        &--narrow {
          padding-left: 200px;

          @media (max-width: 1199px) {
            padding-left: 0 !important;
          }

          @media (max-width: 1599px) {
            padding-left: 80px;
          }
        }

        @media (max-width: 991px) {
          padding-left: 0 !important;
        }
      }

      .asside-card {
        grid-area: c;
        .info-slider-container {
          margin-left: 0;
        }
      }
    }
  }

  .details-content__wrapper {
    grid-column: 1/8;
    width: 100%;

    @media (max-width: 991px) {
      grid-column: 1;
      overflow: hidden;
    }
  }

  .acf-innerblocks-container {
    &:not(:first-child) {
      margin-top: 100px;
    }

    > :first-child {
      margin-top: 0 !important;

      &:not(.btn) {
        padding-top: 0 !important;
      }

      > :first-child {
        margin-top: 0 !important;

        &:not(.btn) {
          padding-top: 0 !important;
        }
      }
    }

    & > :last-child {
      margin-bottom: 0 !important;

      > :last-child {
        margin-bottom: 0 !important;
      }
    }

    @media (max-width: 991px) {
      margin-top: $mobile-block-margin !important;
    }

    .details-content-links {
      display: inline-block;
      margin-top: 100px;
      margin-bottom: 100px;

      @media (max-width: 991px) {
        margin-top: $mobile-block-margin;
        margin-bottom: $mobile-block-margin;
      }
    }

    .accordion {
      @media (max-width: 991px) {
        padding: 0;
      }
    }

    .accordion-item__content {
      .details-content-links {
        margin-top: 40px;
        margin-bottom: 40px !important;
      }
    }
    .block-services-included {
      .metadata-group {
        margin-bottom: 0;
      }
    }
    .support-card {
      margin: 100px 0;

      @media (max-width: 991px) {
        margin: $mobile-block-margin 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .link-cards {
      padding-top: 8px;
    }

    .block-button {
      margin-top: 40px;
      margin-bottom: 100px;

      &:first-child {
        margin-top: -1rem !important;

        @media (max-width: 991px) {
          margin-top: 0 !important;
        }
      }
    }

    .block-author {
      padding-top: 0;
      margin-top: 100px;

      @media (max-width: 991px) {
        margin-top: $mobile-block-margin;
      }
    }

    .block-tags-text-only-no-link {
      margin-bottom: 100px;

      @media (max-width: 991px) {
        margin-bottom: $mobile-block-margin;
      }
    }
    .wp-block-list,
    .wp-block-image,
    .wp-block-heading {
      margin-bottom: 36px !important;
    }

    h3.wp-block-heading {
      &:not(:first-child) {
        margin-top: 100px;

        @media (max-width: 991px) {
          margin-top: $mobile-block-margin;
        }
      }
    }
  }

  .asside-card {
    grid-column: 8/13;
    width: 100%;
    position: sticky;
    top: $sticky-top;
    align-self: start;
    z-index: 10;
    padding-left: 136px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }
    @media (max-width: 1199px) {
      padding-left: 0px;
    }
    @media (max-width: 991px) {
      grid-column: 1;
      padding: 0;
    }
  }

  .asside-card--narrow {
    padding-left: 200px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }

    @media (max-width: 1199px) {
      padding-left: 0;

      .info-slider-container {
        max-width: 100%;
      }
    }
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  .gallery-wrapper figcaption {
    display: none;
  }
}

.block-details-main {
  padding: 0 0 60px;

  @media (max-width: 991px) {
    padding: 0;

    .details-general {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .block-details-mega__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    gap: 56px;
    padding: 0 0 140px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 40px;
      padding: 0 24px 2rem;
    }
  }

  .details-content__wrapper {
    grid-column: 1/8;
    width: 100%;

    @media (max-width: 1199px) {
      padding-right: 0;
      grid-column: 1;
      overflow: hidden;
    }
  }

  .asside-card {
    grid-column: 8/13;
    width: 100%;
    position: sticky;
    top: 130px;
    align-self: start;
    z-index: 10;
    padding-left: 136px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }
    @media (max-width: 1199px) {
      grid-column: 1;
      padding-left: 0px;
    }
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  .gallery-wrapper figcaption {
    display: none;
  }
}
.block-accordion {
  &_default,
  &_media-right,
  &_media-left {
    .block-details-mega__wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      flex-wrap: wrap;
      gap: 56px;
      position: relative;
      height: 100%;

      @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .asside-card {
          display: block;

          img {
            margin-bottom: 0;
          }
        }
      }
    }

    .details-content__wrapper {
      grid-column: 8/13;
      background-color: var(--color-black);
      z-index: 1;

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    .info-card-wrapper {
      min-height: auto;
      margin-bottom: 56px;

      @media (max-width: 991px) {
        margin-bottom: 0;
        min-height: auto;
      }

      &::before {
        content: "";
        position: absolute;
        top: 56px;
        left: 56px;
        height: 100%;
        width: 100%;
        @include bg-image;
        overflow: hidden;
        z-index: -1;

        @media (max-width: 991px) {
          display: none;
        }
      }
    }

    .asside-card {
      grid-column: span 6;

      @media (max-width: 1199px) {
        grid-column: span 6;
      }

      @media (max-width: 991px) {
        display: none;
      }

      &--mobile {
        display: none;

        @media (max-width: 991px) {
          display: block;
          margin-top: 2rem;
          margin-bottom: 1.5rem;

          .accordion-card__image-wrapper {
            height: 240px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .accordion-card__image-wrapper {
        @include bg-overlay();
        margin-bottom: 56px;
        margin-right: 56px;
        position: sticky;
        top: 130px;

        &::before {
          content: "";
          position: absolute;
          top: 56px;
          left: 56px;
          height: 100%;
          width: 100%;
          @include bg-image;
          overflow: hidden;
          z-index: -1;

          @media (max-width: 991px) {
            display: none;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        margin-bottom: 0;
      }
    }
  }
  &_default,
  &_media-left {
    .details-content__wrapper {
      order: 2;

      @media (max-width: 991px) {
        order: 1;
      }
    }

    .asside-card {
      order: 1;
      padding-left: 0;

      @media (max-width: 991px) {
        order: 2;
      }
    }

    .info-slider-container {
      margin-left: 0;
      max-width: 100%;
    }
  }
  &_media-right {
    .info-slider-container {
      margin-left: 0;
      max-width: 100%;
    }
    .block-details-mega .asside-card--narrow {
      padding-left: 0;
      padding-right: 56px;
      padding-bottom: 56px;

      @media (max-width: 991px) {
        padding-right: 0;
        padding-bottom: 0;
      }
    }
    .details-content__wrapper {
      grid-column: 1/7;
      grid-row: 1;

      @media (max-width: 991px) {
        grid-column: auto;
      }
    }

    .asside-card {
      grid-column: 8/13;
      grid-row: 1;

      @media (max-width: 991px) {
        grid-column: auto;
      }
    }
  }
  &_default {
    .details-content__wrapper {
      grid-column: 7/13;
    }
    .asside-card {
      grid-column: span 5;
    }
  }
  &_sticky {
    .info-card-wrapper:not(.no-bg) {
      min-height: auto;
      &::before {
        content: "";
        position: absolute;
        top: 56px;
        left: 56px;
        height: 100%;
        width: 100%;
        @include bg-image;
        overflow: hidden;
        z-index: -1;

        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .block-details-mega__wrapper {
        display: flex;
        flex-direction: column;
      }

      .block-details-mega .details-content__wrapper {
        grid-column: 1;
      }
      .block-details-mega .asside-card {
        grid-column: 2;
      }
    }

    &[data-block="service-details"] {
      .block-details-mega__wrapper {
        grid-template-columns: minmax(0, 839px) minmax(0, 550px);
        gap: 100px;
        justify-content: space-between;

        @media (max-width: 991px) {
          gap: 56px;
        }
      }

      .details-content__wrapper {
        grid-column: 1;
      }
      .info-card-wrapper:not(.no-bg) {
        margin-bottom: 56px;
        margin-right: 56px;

        @media (max-width: 991px) {
          margin-right: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .asside-card {
        grid-column: 2;
        padding-left: 0;
      }
      .info-slider-container {
        margin-left: 0;
        max-width: 100%;
      }

      @media (max-width: 991px) {
        .block-details-mega__wrapper {
          grid-template-columns: 1fr;
          gap: 32px;
        }
        .details-content__wrapper {
          grid-column: auto;
        }

        .asside-card {
          grid-column: auto;
        }
        .info-card-wrapper:not(.no-bg) {
          margin-right: 0;
          margin-bottom: 0;
          height: 240px;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}

.single-insight .block-details-mega {
  .acf-innerblocks-container {
    .wp-block-list {
      @include ul-main;
      gap: 10px;

      @media (max-width: 1199px) {
        gap: 16px;
      }

      li {
        @include item-marked-alt;
        display: block;

        @media (max-width: 1199px) {
          gap: 16px;
        }
      }
    }
  }
}
