@import "../common/variable";
@import "../common/mixins";

.block-contact-form {
  padding: 0 0 180px;
  position: relative;
  overflow: visible;

  // Left corner background pattern
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1000px;
    height: 500px;
    background-image: url(../../assets/img/contact-us-bg-pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    z-index: 0;
    pointer-events: none;
    opacity: 0.3;
    transform: translateX(-25%);

    @media (max-width: 1199px) {
      width: 500px;
      height: 500px;
    }

    @media (max-width: 991px) {
      width: 400px;
      height: 400px;
    }

    @media (max-width: 767px) {
      width: 300px;
      height: 300px;
      transform: translateX(-30%);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    position: relative;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
  &__col {
    &--info {
      display: flex;
      align-items: flex-start;
      @media (max-width: 991px) {
        padding-top: 0;
      }
    }
    &--form {
      position: relative;
    }
  }

  &__card {
    z-index: -1;
    width: 100%;
    padding: 56px;
    @include bg-image;
    position: relative;
    margin-top: -175px;
    padding-top: 175px;
    @media (max-width: 1199px) {
      padding: 48px;
    }
    @media (max-width: 991px) {
      margin-top: 0;
      padding: 32px 24px;
    }
    @media (max-width: 767px) {
      padding: 24px 20px;
    }
  }
}