@import "../common/variable";
@import "../common/mixins";

.block-cta-text {
  padding-bottom: 180px;

  @include max-tablet {
    padding-bottom: 72px;
  }
  &__content {
    position: relative;
    border-bottom: 0.5px solid #d9d9d9;
    border-top: 0.5px solid #d9d9d9;
    padding: 48px 56px;

    @include max-tablet {
      padding: 32px 24px;
    }
  }

  &__link {
    color: #fff;
    display: block;
    padding-right: 40px;

    &:hover {
      .arrow-icon {
        transform: translate(5px, -5px);
      }
    }
  }

  .arrow-icon {
    width: 24px;
    height: 24px;
    top: 48px;
    right: 56px;
    position: absolute;
    transition: transform 0.3s ease;

    @include max-tablet {
      top: 16px;
      right: 16px;
    }
  }
}
