@import "../common/variable";
@import "../common/mixins";

.block-career-application {
  padding: 80px 0 140px;

  @media (max-width: 991px) {
    padding: 2rem 0;
  }

  .vacancy-card__content {
    background: none;
    @include input-border;

    @media (max-width: 991px) {
      min-height: 0;
      padding: 2rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 355px 1fr;
    gap: 56px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  &__col {
    &--sidebar {
      position: relative;

      @media (max-width: 991px) {
        padding: 1.5rem;
        order: 2;
      }

      .support-card {
        margin: 0;
        &__title {
          border: none;
          padding-bottom: 0;
          margin-bottom: 20px;
        }
        .support-card__contacts {
          .contact-item {
            flex-direction: column-reverse;
            align-items: start;
            gap: 14px;
          }
          .contact-tag {
            all: unset;
          }
          .badge {
            all: unset;
            font-size: 14px;
            font-weight: 400;
          }
          .phone {
            width: 100%;
            font-family: var(--base-font);
            font-weight: 400;
            font-size: 14px;
            border-radius: 32px;
            border: 1px solid #4a4c4d;
            padding: 18px 10px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    &--form {
      width: 100%;

      @media (max-width: 991px) {
        order: 1;
      }
    }
  }
}
