@import "../components/post_card";
.block-service-items {
  padding-bottom: 240px;

  @media (max-width: 991px) {
    padding-bottom: 72px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    @media (min-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
    }
  }

  .post-card--action {
    color: var(--color-grey-200);

    .post-card__description {
      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
