@import "../common/variable";
@import "../common/mixins";

.block-publications-pillar {
  padding: 0 0 80px;
  @media (max-width: 991px) {
    padding: 0 24px 48px;
  }

  .publications {

    @media (max-width: 991px) {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      flex-direction: flex-start;
      gap: 16px;
      margin-top: 32px;
      scrollbar-width: none;

      &::-webkit-scrollbar {
          display: none;
      }

      .post-card {
        min-width: 70vw;

          .post-card__image-wrapper {
            filter: grayscale(0%);
            @include bg-overlay(0.2);
          }

          .post-card__content {
            height: fit-content;
            backdrop-filter: blur(4px);
            background: rgba(0, 0, 0, 0.5);
            padding: 24px 24px 60px;

            .post-card__title {
              -webkit-line-clamp: 3;
              @include text-h5;
            }

            .post-card__description {
              visibility: visible;
              opacity: 1;
              @include text-caption;
            }

            &::after {
              display: none;
            }
          }

          .post-card__arrow {

            bottom: 24px;
            left: 24px;

            .arrow-text {
              visibility: visible;
              margin-right: 14px;
              width: auto;
            }

            .arrow-icon {
              padding: 4px;
              svg {
                  .icon-arrow {
                    fill: url(#svg-gradient-primary);
                  }
              }
            }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .posts__actions {
      display: none;
    }
  }

  .additional-card {
    height: 100%;
    width: 100%;
  }

  .pillar-card,
  .post-card {
    height: 550px;

    @media (max-width: 991px) {
      height: 360px;
    }
  }
}