@import "../common/variable";
@import "../common/mixins";

.block-media {
  margin: 100px 0;
  width: 100%;
  height: auto;
  @include bg-image;
  padding: 80px;

  display: flex;
  flex-direction: row;
  align-items: space-between;
  gap: 120px;

  @media (max-width: 1499px) {
    padding: 32px;
    gap: 32px;
  }

  @media (max-width: 991px) {
    margin: 2rem 1.5rem;
    padding: 32px;
    gap: 32px;
    height: 100%;
    width: calc(100% - 3rem);
    background-position: top;
    flex-direction: column;
  }

  &__col--text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }

  &__col--img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    @include bg-overlay();

    img {
      height: 430px;
      width: 460px;
      object-fit: cover;

      @media (max-width: 991px) {
        height: auto;
      }
    }
  }

  .title {
    color: white;
    margin-bottom: 42px;

    @media (max-width: 991px) {
      margin-bottom: 1rem;
    }
  }

  .text-content p {
    margin-bottom: 20px;
    @include text-body-base;
    color: var(--color-grey-200);
  }

  .btn {
    margin-top: 48px;

    @media (max-width: 991px) {
      margin-top: 1rem;
    }
  }
}