@import "../common/variable";
@import "../common/mixins";

.block-accordion-inside {
  padding: 0 0 180px;
  position: relative;

  @media (max-width: 991px) {
    padding: 0 24px 80px;
  }

  .block-accordion__wrapper {
    @include bg-overlay(0.2);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      flex-wrap: wrap;
      gap: 56px;
      position: relative;
      height: 100%;
      width: 100%;

      @media (max-width: 991px) {
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
      }
  }

  .block-accordion__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

@media (max-width: 991px) {
     display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  .block-accordion__content {
    position: relative;
    margin: 125px 0 125px 56px;
    grid-column: span 7;
    background-color: var(--color-black);
    padding: 56px;
    z-index: 1;
    transform-style: preserve-3d;

    @media (max-width: 991px) {
      padding: 0;
      margin: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 70px;
      left: 56px;
      width: 100%;
      height: 100%;
      @include bg-image;
      opacity: 0.8;
      z-index: -1;
      transform: translateZ(-1px);

      @media (max-width: 991px) {
        display: none;
      }
    }
  }


  .title {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      @include text-h5;
    }
  }

  .description {
    @include text-body-base;
    color: var(--color-gray-200);
    margin-bottom: 40px;
  }

  .gradient-link {
    margin-bottom: 40px;
  }

  .accordion {
    padding: 0;

    .accordion-item__divider {
      visibility: hidden;
      padding-top: 12px;
    }

    .accordion-item__title  {
      @include text-body-base;
      color: var(--color-grey-200);
    }
  }
}