@import "../common/variable";
@import "../common/mixins";

.block-slider {
  padding: 0 0 220px;
  position: relative;

  @media (max-width: 991px) {
    padding: 0 16px 80px;
  }

  &--full {
    &::after {
      display: none;
    }

    .block-slider__wrapper {
      grid-template-columns: 1fr;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    min-height: 560px;

    @media (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__description {
    background-color: var(--color-black);
    z-index: 1;
    padding-right: 130px;

    @media (max-width: 1199px) {
      width: 100%;
      padding-right: 0;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__media {
    @media (max-width: 1199px) {
      width: 100%;
    }
  }

  .heading {
    .title {
      margin-bottom: 50px;
    }
  }

  .text-content {
    p {
      margin-bottom: 15px;
    }
  }

  .pillar-navigation {
    display: flex;
    gap: 20px;
    margin: 50px 0 16px;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__col--carousel {
    position: absolute;
    left: 0;
    margin-left: 33.333%;
    width: 100%;
    height: 100%;
    z-index: 0;
    scrollbar-width: none;
    max-height: 560px;

    @media (max-width: 1199px) {
      position: relative;
      height: 400px;
      margin: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, rgba(4, 4, 4, 0) 40%, rgb(4, 4, 4) 75%, rgb(4, 4, 4) 100%);
      overflow: hidden;
      z-index: 1;
      pointer-events: none;

      @media (max-width: 1199px) {
        display: none;
      }
    }

    &--full {
      position: relative;
      overflow: hidden;
      margin: 0;
      width: calc(100% + 48px);

      &::after {
        content: none;
      }

      .pillar-carousel .pillar-carousel-card {
        width: 100%;
        max-width: 33.333%;
        padding: 0;

        &.is-active {
          width: 100%;
          max-width: 33.333%;
        }

        &__content-wrapper {
          max-height: 200px;
          margin: 0;
        }
      }
    }
  }

  &__col--carusel::-webkit-scrollbar {
    display: none;
  }

  .pillar-carousel {
    display: flex;
    gap: 56px;
    width: max-content;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: 100%;
    padding: 0;
    width: 100%;
    gap: 56px;
    touch-action: pan-y;

    @media (max-width: 1199px) {
      padding: 0;
      width: auto;
      gap: 40px;
    }
    @media (max-width: 991px) {
      gap: 24px;
    }
  }

  .pillar-carousel-card {
    flex: 0 0 30%;
    width: 30%;
    min-width: 200px;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    transition: all 0.5s ease;
    padding: 20px 0;
    position: relative;
    max-width: 18%;

    @media (max-width: 1199px) {
      flex: 0 0 350px;
      width: 350px;
      max-width: 100%;
      padding: 0;
    }

    @media (max-width: 767px) {
      flex: 0 0 250px;
      width: 250px;
      max-width: 100%;
      padding: 0;
    }

    &.is-active {
      padding: 0;
      max-width: 22.45%;
      .pillar-carousel-card__image-bg {
        filter: grayscale(0%);
      }

      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    &__image-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__image-bg {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: grayscale(100%);
      @include bg-overlay();
    }

    &:hover {
      .pillar-carousel-card__image-bg {
        filter: none;
      }

      .pillar-carousel-card__title {
        color: white !important;
      }
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;

        position: absolute;
        bottom: 0px;
        left: 0;
        height: calc(50% - 20px);
        width: 100%;
        padding: 30px;
        margin-bottom: 20px;
        cursor: pointer;
        @include bg-image;

        &:hover {

          .icon-arrow {
            opacity: 1;
          }
        }

        @media (max-width: 1199px) {
          margin: 0;
          height: 50%;
          padding: 20px;
        }


    }

    &.is-active .pillar-carousel-card__content-wrapper {
        margin-bottom: 0;
        height: 50%;
    }

    &__title {
        text-transform: lowercase;
        margin-bottom: 10px;
        color: white;

        @media (max-width: 1199px) {
          margin: 0;
        }
    }

    &__title--h4 {
        @include text-h5;
    }

    &.is-active .pillar-carousel-card__title--h4 {
      @include text-h4;

      @media (max-width: 1199px) {
        @include text-h5;
      }
    }

    &__desc {
      margin-bottom: 24px;
      color: var(--color-grey-300);
      opacity: 0;
      transition: opacity 0.3s ease;
      min-height: 0;
    }

    &__image-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__image-bg {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: grayscale(100%);
    }

    &:hover .pillar-carousel-card__image-bg {
      filter: none;
    }

    &__content-wrapper {
      position: absolute;
      bottom: 0px;
      left: 0;
      height: calc(50% - 20px);
      width: 100%;
      padding: 30px;
      margin-bottom: 20px;

      &:is(a):hover {
        .icon-arrow {
          opacity: 1;
        }
      }

      @media (max-width: 1199px) {
        margin: 0;
        height: 50%;
        padding: 20px;
      }
    }

    &.is-active .pillar-carousel-card__content-wrapper {
      margin-bottom: 0;
      height: 50%;
    }

    &__title {
      text-transform: lowercase;
      margin-bottom: 10px;
      color: white;

      @media (max-width: 1199px) {
        margin: 0;
      }
    }
    &__title--h4 {
      @include text-h5;
    }

    &.is-active .pillar-carousel-card__title--h4 {
      @include text-h4;

      @media (max-width: 1199px) {
        @include text-h5;
      }
    }

    &__desc {
      margin-bottom: 24px;
      color: var(--color-grey-300);
      opacity: 0;
      transition: opacity 0.3s ease;

      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 1199px) {
        opacity: 1;
      }
    }

    &.is-active .pillar-carousel-card__desc {
      opacity: 1;
    }

    &__link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      margin-top: auto;

      @media (max-width: 1199px) {
        bottom: 20px;
        left: 20px;
      }

      .pillar-carousel-card__link-text__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
      }

      .icon-arrow {
        transition: all 0.3s ease;
      }

      & .pillar-carousel-card__link-text {
        display: none;
      }

      & .arrow-icon {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;

        @media (max-width: 991px) {
          width: 12px;
          height: 12px;
        }

        svg {
          .icon-arrow {
            fill: white;
            transition: fill 0.3s ease;
          }
        }
      }
    }

    a .pillar-carousel-card__link {
      cursor: pointer;
      .icon-arrow {
        opacity: 0;
      }
    }

    a:hover .pillar-carousel-card__link {
      .icon-arrow {
        opacity: 1;
      }
    }

    &.is-active .pillar-carousel-card__link {
      @include text-body-base;
      background: $primary-gradient;
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: color 0.3s ease;

      .pillar-carousel-card__link-text {
        display: block;
      }

      .icon-arrow {
        opacity: 0;
      }
    }

    &.is-active a:hover .pillar-carousel-card__link {
      .icon-arrow {
        opacity: 1;
        fill: url(#svg-gradient-primary);
      }
    }
  }

  .pillar-carousel-card__timebar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: transparent;
    overflow: hidden;
  }

  .pillar-carousel-card__timebar {
    height: 100%;
    width: 0%;
    background: $primary-gradient;
    transition: width 4s linear;
  }
}
