@import "../common/variable";
@import "../common/mixins";

.block-hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:1;

  &__bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      -webkit-mask-image: linear-gradient(to bottom, 
        rgb(04, 04, 04) 0%, 
        transparent 100%
    );
    mask-image: linear-gradient(to bottom, 
    rgb(04, 04, 04) 0%, 
    transparent 100%
    );
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
      }
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../assets/img/noise.svg);
        background-repeat: no-repeat;
        background-size: cover;
        
        opacity: 0.5; 
        
        -webkit-mask-image: linear-gradient(to bottom, 
          rgb(04, 04, 04) 90%, 
          transparent 100%
        );
        mask-image: linear-gradient(to bottom, 
          rgb(04, 04, 04) 90%, 
          transparent 100%
        );
    
        z-index: 1;
      }

  }

  .heading {
    padding: 120px 0 40px;
    .title--h1 {
          @include text-h0;
      }
  }

  &__content {
      max-width: 1470px;
      text-align: center;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 48px;
      z-index: 1;

      @media (max-width: 1199px) {
        max-width: 900px;
        padding: 0 24px;
      }
  }

  &__description {
      max-width: 1100px;
      padding: 24px;
      @include text-body-large;
  }

  &__actions {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      padding: 40px 0;

      .block-hero__info {
        max-width: 700px;
        padding: 4px;
        color: var(--color-grey-300);
        font-family: $font-light;
        font-style: normal;
        font-size: 16px;
        line-height: 34px;
        font-weight: $w-light;
      }
  }
}