@import "../common/variable";
@import "../common/mixins";

.block-search-results {
  padding: 120px 0 60px; 

  @media (max-width: 991px) {
    padding: 100px 24px 60px; 
  }

  .heading {
    @include text-h3;
    margin: 32px 0;
  }
}

.block-publications {
  padding: 80px 0;
}

.publications {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 56px;
  margin-top: 20px;

  @media (max-width: 767px) {
    grid-template-columns: minmax(330px, 1fr);
    gap: 20px; 
  }
}

.background-svg {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: -1;
}

.posts__actions {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 32px;

  .btn {
    background-color: transparent;
    border: 1px solid var(--color-grey-600); 
    color: white;

    &:hover {
      background-color: var(--color-grey-600);
    }
  }

  @media (max-width: 767px) {
    display: flex;
  }
}
