@import "../common/variable";
@import "../common/mixins";
@import "../components/gradient_link.scss";

.block-accordion-inside {
  padding: 0 0 220px;
  position: relative;

  @media (max-width: 991px) {
    padding: 0 24px 2rem;
  }

  .block-accordion__wrapper {
    @include bg-overlay();
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-wrap: wrap;
    gap: 56px;
    position: relative;
    height: 100%;
    width: 100%;

    @media (max-width: 991px) {
      display: flex;
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  .block-accordion__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    @media (max-width: 991px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  .block-accordion__content {
    position: relative;
    margin: 125px 0 125px 56px;
    grid-column: span 7;
    background-color: var(--color-black);
    z-index: 1;
    transform-style: preserve-3d;
    height: 762px;
    display: flex;
    flex-direction: column;

    @media (max-width: 991px) {
      padding: 0;
      margin: 0;
      height: auto;
      max-height: none;
      overflow-y: visible;
    }

    &::after {
      content: "";
      position: absolute;
      top: 70px;
      left: 56px;
      width: 100%;
      height: 100%;
      @include bg-image;
      opacity: 0.8;
      z-index: -1;
      transform: translateZ(-1px);

      @media (max-width: 991px) {
        display: none;
      }
    }

    &-inner {
      padding: 56px;
      flex-grow: 1;
      overflow: auto;

      @media (max-width: 991px) {
        padding: 0;
        height: auto;
        overflow: hidden;
      }
    }
  }

  .accordion {
    padding: 0;

    .accordion-item.is-open {
      .accordion-item__divider {
        padding-top: 20px;

        @media (max-width: 991px) {
          background: $primary-gradient;
          visibility: visible !important;
          margin-top: 20px;
          height: 1px;
          border: none;
          padding: 0;
        }
      }
    }

    .accordion-item__divider {
      padding-top: 20px;
    }

    .accordion-item__title {
      @include text-body-base;
      color: var(--color-grey-200);
    }
  }
}
