@import "../common/variable";
@import "../common/mixins";


.block-equipment-content {
  width: 100%;
  padding: 140px 0;


  @media (max-width: 767px) {
    padding: 40px 0;
  }


  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 490px;
    gap: 64px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }


  .equipment-content__left {
    width: 100%;
    min-width: 0;
    max-width: 900px;
  }


  .equipment-content__right {
    display: flex;
    flex-direction: column;
    gap: 32px;


    @media (max-width: 1199px) {
      max-width: 600px;
    }
  }


  .equipment-content__metadata {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }


  .equipment-content__card {
    position: sticky;
    top: 80px;


    @media (max-width: 1199px) {
      position: static;
    }
  }
}