@import "../common/variable";
@import "../common/mixins";
@import "../components/details_content.scss";
@import "../components/info_card.scss";
@import "../components/metadata_group.scss";

.block-details-sidebar {
  padding: 0 0 140px;

  @media (max-width: 991px) {
    padding: 0 24px 80px;
  }

  &__wrapper {
    display: grid;
    position: relative;
    align-items: start;
    gap: 56px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
                "b a"
                "b c";
    grid-template-rows: min-content 1fr;

    @media (max-width: 1199px) {
      gap: 32px;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-template-areas:
      "b"
      "c"
      "a";
      gap: 32px;
    }
  }

  .details-content__wrapper {
    grid-area: b;
    grid-column: 1/8;

    @media (max-width: 1199px) {
      padding-right: 0;
    }
    @media (max-width: 991px) {
      grid-column: 1;
    }

    .details-content__image {
      width: 100%;
      height: auto;
      object-fit: cover;

      img {
        width: 100%;
        height: auto;
      }
    }

    .details__wrapper {
      padding: 80px;
      display: flex;
      flex-direction: column;
      gap: 48px;
      @include bg-image;

      @media (max-width: 991px) {
        padding: 24px;
      }

      .person-card {
        max-width: 400px;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  .asside {
    display: flex;
    flex-direction: column;
    gap: 60px;
    grid-area: a;
    grid-column: 8/13;
    padding-left: 136px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }
    @media (max-width: 1199px) {
      grid-column: 8/13;
      padding-left: 0;
    }

    @media (max-width: 991px) {
      grid-column: 1;
      padding-left: 0;
    }

  }

  .asside__sticky-card {
    position: sticky;
    top: 130px;
    z-index: 10;
    grid-area: c;
    grid-column: 8/13;
    align-self: start;
    padding-left: 136px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }
    @media (max-width: 1199px) {
      grid-column: 8/13;
      padding-left: 0;
    }

    @media (max-width: 991px) {
      grid-column: 1;
      padding-left: 0;
    }
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  .gallery-wrapper figcaption {
    display: none;
  }
}
