@import "../common/variable";
@import "../common/mixins";
@import "../components/person_card";

.block-section-heading {
  position: relative;
  padding: 80px 0 60px;
  margin-bottom: 80px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background: radial-gradient(
      232.15% 232.15% at 50% 119.48%,
      rgba(129, 254, 229, 0.5) 0%,
      rgba(104, 115, 205, 0.5) 12.98%,
      #000 24.04%
    );
  }

  @media (max-width: 991px) {
    padding: 48px 24px 24px;
    margin-bottom: 32px;
  }

  &--center {
    text-align: center;
  }

  .title {
    text-align: left;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 991px) {
      padding-right: 0;
    }
  }

  .divider {
    @media (max-width: 991px) {
      left: 24px;
      width: calc(100% - 48px);
    }
  }

  .person-card {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    padding: 0;

    &--reverse {
      flex-direction: row-reverse;
    }

    @media (max-width: 991px) {
      flex-direction: row-reverse;
      gap: 1rem;
    }

    .person-card__info {
      text-align: right;

      @media (max-width: 991px) {
        text-align: left;
      }

      .card__name {
          @include text-h5;
          text-transform: capitalize;
      }

      .card__credentials {
        margin-bottom: 12px;
        font-size: 14px;

        @media (max-width: 991px) {
          margin-bottom: 12px;
        }
      }

      .card__date {
        color: var(--color-grey-300);
        font-family: $font-light;
        font-weight: $w-light;
        line-height: 18px;
        font-size: 14px;
      }
    }

    &__image-container {
      width: 152px;
      height: 152px;
      border-radius: 50%;
      overflow: hidden;

      @media (max-width: 991px) {
        height: 80px;
        width: 80px;
      }

      .person-card__image {
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: filter 0.5s ease;
      }
    }

    &:hover {
      .person-card__image {
        filter: none;
      }
    }
  }
}
