@import "../common/variable";
@import "../common/mixins";
@import "../components/details_content_links";
@import "../components/metadata_group.scss";

.block-details {
  padding-top: 60px;

  &__title {
    @include text-h4;
  }

  .block-accordion {
    padding-bottom: 0;

    &__wrapper {
      grid-template-columns: minmax(839px, 0) minmax(550px, 0);
      justify-content: space-between;
    }

    .block-accordion__description {
      grid-row: 1;
      grid-column: 1;

      @media (max-width: 991px) {
        grid-column: auto;
      }
    }

    .block-accordion__media {
      grid-row: 1;
      grid-column: 2;
      padding-right: 56px;

      @media (max-width: 991px) {
        grid-column: auto;
        padding-right: 0;
      }
    }
  }

  .block-details-mega {
    padding-top: 35px;
    padding-bottom: 150px;

    @media (max-width: 991px) {
      padding-bottom: 40px;
    }

    .details-content__wrapper {
      grid-column: 1/8;
      padding-right: 50px;
      padding-bottom: 0;

      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        padding-right: 0;
      }
    }
  }

  .details-content-links {
    &:not(:last-child) {
      padding-bottom: 64px;

      @media (max-width: 991px) {
        padding-bottom: 30px;
      }
    }
  }

  .link-cards {
    padding-top: 0;
    padding-bottom: 0;
  }

  .metadata-group {
    margin-bottom: 0;
  }
}

.block-details-mega {
  padding: 0 0 60px;

  @media (max-width: 991px) {
    padding: 0;

    .details-general {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    gap: 56px;
    padding: 0 0 140px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 32px;
      padding: 0 24px 2rem;
    }

    &--areas {
      grid-template-areas:
        "b a"
        "b c";
      grid-template-rows: min-content 1fr;

      .details-content__wrapper {
        grid-area: b;
      }

      .aside {
        grid-area: a;
        display: flex;
        flex-direction: column;
        gap: 60px;
        grid-area: a;
        grid-column: 8 / 13;
        padding-left: 136px;
      }

      .asside-card {
        grid-area: c;
        .info-slider-container {
          margin-left: 0;
        }
      }
    }
  }

  .details-content__wrapper {
    grid-column: 1/8;
    width: 100%;

    @media (max-width: 991px) {
      grid-column: 1;
      overflow: hidden;
    }
  }

  .asside-card {
    grid-column: 8/13;
    width: 100%;
    position: sticky;
    top: 130px;
    align-self: start;
    z-index: 10;
    padding-left: 136px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }
    @media (max-width: 1199px) {
      padding-left: 0px;
    }
    @media (max-width: 991px) {
      grid-column: 1;
      padding: 0;
    }
  }

  .asside-card--narrow {
    padding-left: 200px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }

    @media (max-width: 1199px) {
      padding-left: 0;

      .info-slider-container {
        max-width: 100%;
      }
    }
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  .gallery-wrapper figcaption {
    display: none;
  }
}

.block-details-main {
  padding: 0 0 60px;

  @media (max-width: 991px) {
    padding: 0;

    .details-general {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .block-details-mega__wrapper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    gap: 56px;
    padding: 0 0 140px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 40px;
      padding: 0 24px 2rem;
    }
  }

  .details-content__wrapper {
    grid-column: 1/8;
    width: 100%;

    @media (max-width: 1199px) {
      padding-right: 0;
      grid-column: 1;
      overflow: hidden;
    }
  }

  .asside-card {
    grid-column: 8/13;
    width: 100%;
    position: sticky;
    top: 130px;
    align-self: start;
    z-index: 10;
    padding-left: 136px;

    @media (max-width: 1599px) {
      padding-left: 80px;
    }
    @media (max-width: 1199px) {
      grid-column: 1;
      padding-left: 0px;
    }
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  .gallery-wrapper figcaption {
    display: none;
  }
}
