@import "../common/variable";
@import "../common/mixins";


.block-equipment-content {
  width: 100%;
  padding: 140px 0;

  @media (max-width: 991px) {
    padding: 2rem 1.5rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 64px;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }


  .equipment-content__left {
    width: 100%;
    min-width: 0;
    max-width: 900px;
    gap: 56px;
    grid-column: 1/8;

    @media (max-width: 1199px) {
      padding-right: 0;
    }

    @media (max-width: 1199px) {
      grid-column: 1;
    }
  }


  .equipment-content__right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-column: 8/13;
    padding-left: 136px;

    @media (max-width: 1599px) {
      grid-column: 0px;
    }

    @media (max-width: 1199px) {
      grid-column: 0px;
      grid-column: 1;
    }

    @media (max-width: 991px) {
      padding: 0;
    }
  }


  .equipment-content__metadata {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 991px) {
      gap: 0;
    }
  }


  .equipment-content__card {
    position: sticky;
    top: 130px;


    @media (max-width: 1199px) {
      position: static;
    }
  }
}