<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    section {
      height: 100vh;
      border-bottom: 1px solid #000;
    }
  </style>
</head>
<body>

<section></section>
<section></section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script !src="">
  gsap.utils.toArray('section').forEach(function (item) {
    ScrollTrigger.create({
      trigger: item,
      start: 'top center',
      end: 'bottom center',
      onEnter: function() {
        item.classList.add('is-visible');
      },
      onLeave: function() {
        item.classList.remove('is-visible');
      },
      onEnterBack: function() {
        item.classList.add('is-visible');
      },
      onLeaveBack: function() {
        item.classList.remove('is-visible');
      }
    });
  });
</script>

</body>
</html>