<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="header__nav js-header-nav">
    <ul id="menu-main-menu" class="header__menu">
        <li id="menu-item-474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-474"><a href="/about/">About</a></li>
        <li id="menu-item-475" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-475"><a href="#">Technology</a>
            <ul class="sub-menu">
                <li id="menu-item-477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-477"><a href="#">Product Details</a></li>
                <li id="menu-item-476" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476"><a href="/lower-project-costs/">Lower Project Costs</a></li>
            </ul>
        </li>
        <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-69"><a href="/resources/">Resources</a>
            <ul class="sub-menu">
                <li id="menu-item-479" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-479"><a href="/technical-resources/">Technical Resources</a></li>
            </ul>
        </li>
        <li id="menu-item-481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481"><a href="/news/">News</a></li>
        <li id="menu-item-482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-482"><a href="/careers/">Careers</a></li>
        <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="/contact/">Contact</a></li>
    </ul>
</nav>

</body>
</html>